﻿<%@ Control Language="C#" CodeBehind="Default_Insert.ascx.cs" Inherits="com.paginar.johnson.Web.Default_InsertEntityTemplate" %>

<%@ Reference Control="~/DynamicData/EntityTemplates/Default.ascx" %>

<asp:EntityTemplate runat="server" ID="EntityTemplate1">
    <ItemTemplate>
        <div class="form-item">
            <asp:Label runat="server" OnInit="Label_Init" OnPreRender="Label_PreRender" />
            <asp:DynamicControl runat="server" ID="DynamicControl" Mode="Insert" OnInit="DynamicControl_Init" />
        </div>

    </ItemTemplate>
</asp:EntityTemplate>

