﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MP.master.cs" Inherits="com.paginar.johnson.Web.PMP.MP" %>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
   <title>Evaluación de desempeño - Johnson</title>
   <link rel="stylesheet" type="text/css" href="/PMP/css/styles.css" />
   <%--<script type="text/javascript" src="/PMP/js/jquery-1.3.2.min.js"></script>--%>
   <script type="text/javascript" src="/PMP/js/jquery-2.1.1.min.js"></script>   
   <script type="text/javascript" src="/PMP/js/jquery-migrate-1.2.1.min.js"></script>   
   
   <script type="text/javascript" src="/PMP/js/jquery-ui-1.7.2.custom.min.js"></script>
   <script type="text/javascript" src="/PMP/js/jquery.maxlength-min.js"></script>
   <script type="text/javascript" src="/PMP/js/DD_roundies_0.0.2a.js"></script>
   <script type="text/javascript" src="/PMP/js/jquery.example.js"></script>
   <script type="text/javascript" src="/PMP/js/jquery.ezpz_tooltip.js"></script>
   <script type="text/javascript" src="/PMP/js/jquery.cluetip.min.js"></script>   
   <%--<script type="text/javascript" src="../js/initpmp.js" ></script>--%>
    <script src="/PMP/js/initpmp.js" type="text/javascript"></script>
   <asp:ContentPlaceHolder ID="head" runat="server">
   </asp:ContentPlaceHolder>
</head>
<body  runat="server" ID="BodyPmp">
<script type="text/javascript">

    function ShowPopup() {
        $find('<%= FVC.FindControl("modalpopup").ClientID %>').show();
        //$get('Button1').click();
    }

    function HidePopup() {
        $find('<%= FVC.FindControl("modalpopup").ClientID %>').hide();
        //$get('btnCancel').click();
    }
    
    
</script>
   <div id="page">
      <div id="page-inner">
         <form id="form1" runat="server">
         <asp:ScriptManager ID="SM" runat="server">
         <Scripts>
         <asp:ScriptReference Path="~/PMP/js/MyAppFramework.js"  />
         </Scripts>
         </asp:ScriptManager>
         <asp:HiddenField ID="HiddenFieldPeriodoID" Value="" runat="server" />
         <asp:HiddenField ID="HiddenFieldTipoFormularioID" Value="" runat="server" />
         <asp:HiddenField ID="HiddenFieldlegajo" Value="" runat="server" />
         <asp:HiddenField ID="HiddenFieldLegajoEvaluador" runat="server" />
         <asp:FormView ID="FVC" runat="server" DataSourceID="ObjectDataSourceCabecera" 
             ondatabound="FVC_DataBound">
            <ItemTemplate>
               <div id="header">
                  <div id="header-inner">
                     <div id="logo-title">
                        <div id="logo"><img id="logo-image" alt="Logo Johnson " src="/PMP/img/logo.jpg" /></div>
                        <div id="site-name">
                           <h1>Evaluación de Desempeño <span><asp:Literal ID="TipoFormularioLabel" runat="server" Text='<%# Bind("TipoFormulario") %>' /></span></h1>
                        </div>
                     </div>
                     <div id="datos">
                        <ul id="fechas">
                           <li>Período de Evaluación: <asp:Literal ID="Label1" runat="server" Text='<%# Bind("Periodo") %>' /></li>
                           <li>Fecha de Inicio del PMP: <asp:Literal ID="EvaluacionFechaLabel" runat="server" Text='<%# Bind("EvaluacionFecha", "{0:dd/MM/yyyy}") %>' /></li>
                        </ul>                   
                        <div id="personas">
                           <div id="personas-inner">
                              <div class="evaluador">
                                 <h2>Evaluador</h2>
                                 <ul>
                                    <li><strong>Nombre y Apellido: </strong><asp:Literal ID="EvaluadorNombreLabel" runat="server" Text='<%# Bind("EvaluadorNombre") %>' /></li>
                                    <li><strong>Legajo: </strong><asp:Literal ID="EvaluadorLegajoLabel" runat="server" Text='<%# Bind("EvaluadorLegajo") %>' /></li>
                                    <li><strong>Área: </strong><asp:Literal ID="Literal1" runat="server" 
                                            Text='<%# Bind("EvaluadorArea") %>' /></li>
                                    <li><strong>Cargo: </strong><asp:Literal ID="Literal2" runat="server" Text='<%# Bind("EvaluadorCargo") %>' /></li>
                                 </ul>
                              </div>
                              <div class="evaluado">
                                 <h2>Evaluado</h2>
                                 <ul>
                                    <li><strong>Nombre y Apellido: </strong> <asp:Literal ID="Label2" runat="server" Text='<%# Bind("EvaluadoNombre") %>' /></li>
                                    <li><strong>Legajo: </strong><asp:Literal ID="EvaluadoLegajoLabel" runat="server" Text='<%# Bind("EvaluadoLegajoReal") %>' /></li>
                                    <li><strong>Área: </strong><asp:Literal ID="EvaluadoSectorLabel" runat="server" Text='<%# Bind("EvaluadoArea") %>' /></li>
                                    <li><strong>Cargo: </strong><asp:Literal ID="Literal3" runat="server" Text='<%# Bind("EvaluadoCargo") %>' /></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <%--<div id="foto">
                            <asp:Image  ID="Image1" ToolTip='<%# Bind("EvaluadoNombre") %>' AlternateText='<%# Bind("EvaluadoNombre") %>' ImageUrl='<%# "ResizeImage.aspx?Image=" + Server.MapPath(Eval("EvaluadoFoto").ToString())+"&Size=200" %>' runat="server" />
                        </div>--%>
                        <div id="foto">
                                    <asp:Image ID="Image1" ToolTip='<%# Bind("EvaluadoNombre") %>' AlternateText='<%# Bind("EvaluadoNombre") %>' ImageUrl='<%# Bind("EvaluadoFoto") %>' runat="server" />
                                 </div>
                                 <div id="helps" align="center" style="padding:10px 0 0 0">
                                    <asp:HyperLink ID="HyperLink2" CssClass="masInfo" runat="server" ToolTip="Para asistencia comunicarse al mail <a href='mailto:SCJPMP@paginar.net'>SCJPMP@paginar.net</a>.<br /> Por favor indique su nombre e interno para responder su consulta a la brevedad.">
                                        <br /><asp:Image ID="Image2" runat="server" ImageUrl="~/PMPFY/img/desk-help.png" />
                                    </asp:HyperLink>  

                                 </div>                                     
                        <div id="calificacion">
                           <h2>Calificación General: <span id="SpanCalificacion"><asp:Literal ID="TextCalificacion" runat="server" Text='<%# Bind("Calificacion") %>' /></span></h2>
                        </div>
                     </div>
                     <asp:LinkButton CssClass="button btnHistorial" ToolTip="Historial" Text="Histórico" ID="historial" runat="server"></asp:LinkButton>                     
                     <%--<asp:LinkButton CssClass="button btnHistorial" ToolTip="Historial" Text="Historial" ID="historial" runat="server"></asp:LinkButton>--%>
                     <asp:LinkButton CssClass="button btnEvalAnt" ToolTip="Objetivos" 
                          Text="Objetivos" ID="eval_ant" runat="server"></asp:LinkButton>
                     
                  </div><!--/header-inner-->
               </div><!--/header-->
               
               <!--INICIO - ModalPopup Evaluaciones anteriores-->
               <cc1:modalpopupextender id="modalpopup" runat="server" 
                  okcontrolid="btnOkay" 
                  targetcontrolid="eval_ant" popupcontrolid="PanelFA" 
                  backgroundcssclass="modalBackground">
               </cc1:modalpopupextender>
               
              
               <asp:panel id="PanelFA" CssClass="contentPopup" style="display:none" runat="server">
                  <asp:Panel CssClass="titleModalPopup" ID="titleBarEvalAnt" runat="server">
                     <h2>Objetivos</h2>
                     <span id="btnOkay" class="closeModalPopup">Cerrar</span>
                  </asp:Panel>
                  
                  <div class="contentModalPopup">
                    
                    <asp:Repeater  ID="RepeaterObjetivosAnt" runat="server"  DataSourceID="ODSFrmObetivosAnt">
                                <HeaderTemplate>
                                  <table class="GridView">
                                            <tr>
                                                <th>
                                                </th>
                                                <th>
                                                    Objetivos
                                                </th>
                                                <th>
                                                    Medidas
                                                </th>
                                                <th>
                                                    Resultados
                                                </th>
                                            </tr>
                                </HeaderTemplate>
                                <ItemTemplate>
                                    <div >
                                        
                                            <tr runat="server" id="Obj1" visible='<%# Eval("objetivo1").ToString() != "" %>'>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    <asp:Label ID="objetivo1Label" runat="server" Text='<%# Eval("objetivo1") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="medidas1Label" runat="server" Text='<%# Eval("medidas1") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="resultados1Label" runat="server" Text='<%# Eval("resultados1") %>' />
                                                </td>
                                            </tr>
                                            <tr runat="server" id="Obj2" visible='<%# Eval("objetivo2").ToString() != "" %>'>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    <asp:Label ID="objetivo2Label" runat="server" Text='<%# Eval("objetivo2") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="medidas2Label" runat="server" Text='<%# Eval("medidas2") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="resultados2Label" runat="server" Text='<%# Eval("resultados2") %>' />
                                                </td>
                                            </tr>
                                            <tr runat="server" id="Obj3" visible='<%# Eval("objetivo3").ToString() != "" %>'>
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    <asp:Label ID="objetivo3Label" runat="server" Text='<%# Eval("objetivo3") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="medidas3Label" runat="server" Text='<%# Eval("medidas3") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="resultados3Label" runat="server" Text='<%# Eval("resultados3") %>' />
                                                </td>
                                            </tr>
                                            <tr runat="server" id="Obj4" visible='<%# Eval("objetivo4").ToString() != "" %>'>
                                                <td>
                                                    4
                                                </td>
                                                <td>
                                                    <asp:Label ID="objetivo4Label" runat="server" Text='<%# Eval("objetivo4") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="medidas4Label" runat="server" Text='<%# Eval("medidas4") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="resultados4Label" runat="server" Text='<%# Eval("resultados4") %>' />
                                                </td>
                                            </tr>
                                            <tr runat="server" id="Obj5" visible='<%#  Eval("objetivo5").ToString() != "" %>'>
                                                <td>
                                                    5
                                                </td>
                                                <td>
                                                    <asp:Label ID="objetivo5Label0" runat="server" Text='<%# Eval("objetivo5") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="medidas5Label" runat="server" Text='<%# Eval("medidas5") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="resultados5Label" runat="server" Text='<%# Eval("resultados5") %>' />
                                                </td>
                                            </tr>
                                          
                                        
                                    </div>
                                </ItemTemplate>
                                <FooterTemplate>
                                   </table>
                                    <%--<asp:Label ID="lblEmpty" Visible='<%# bool.Parse((ODSFrmObetivosAnt.Items.Count==0).ToString())%>'
                                        Text="No agrego objetivos en este periodo." runat="server" CssClass="messages msg-info"></asp:Label>--%>
                                </FooterTemplate>

                            </asp:Repeater>
                            
                           <asp:ObjectDataSource ID="ODSFrmObetivosAnt" runat="server" OldValuesParameterFormatString="original_{0}" 
                             SelectMethod="GetFrmObjetivosActualByLegajo" TypeName="com.paginar.johnson.DAL.DSEvalDesempTableAdapters.frmObjetivosProxTableAdapter">
                              <SelectParameters>
                                 <asp:ControlParameter ControlID="HiddenFieldlegajo" Name="legajo" 
                                     PropertyName="Value" Type="Int32" />
                                 <%--<asp:Parameter DefaultValue="13001" Name="UsuarioID" Type="Int32" />--%>
                             </SelectParameters>
                             </asp:ObjectDataSource>    
                            <asp:Label ID="lblEmpty" Visible='false'
                              Text="El evaluado no posee objetivos cargados para este período." runat="server" CssClass="messages msg-info"></asp:Label>                        
                               <div style=" vertical-align: bottom;padding-top: 15px;">
                           <asp:FormView ID="FormViewAdjunto" runat="server" DataSourceID="ODSFrmObetivosAnt">
                                            <ItemTemplate>
                                              Adjunto: <br />
                                                 <asp:HyperLink ID="HyperLink14" runat="server" NavigateUrl='<%# String.Format("~/PMP/documents/{0}",Eval("AdjuntoPath")) %>' Target="_blank" Text='<%# (String.IsNullOrEmpty(Eval("AdjuntoPath").ToString()) ? "" : Eval("AdjuntoPath").ToString().Substring(19))  %>'>HyperLink</asp:HyperLink>
                                              
                                            </ItemTemplate>
                                        </asp:FormView>
                                        
                              </div>    
<%--                        <asp:Repeater ID="RFA" runat="server" DataSourceID="ObjectDataSourceFormulariosAnteriores">
                           <ItemTemplate>
                              <li>
                           <asp:LinkButton Text='<%# Convert.ToString(Eval("Fecha","{0:dd/MM/yyyy}"))+" "+Convert.ToString(Eval("Calificacion")) %>' ID="LinkButtonFormu" runat="server">LinkButton</asp:LinkButton></li>
                           </ItemTemplate>
                           <AlternatingItemTemplate></AlternatingItemTemplate> 
                           <FooterTemplate>

                            <asp:Label ID="lblEmpty"
                            Text="El usuario no cuenta con evaluaciones anteriores" runat="server"
                            Visible='<%# bool.Parse((((Repeater)FVC.FindControl("RFA")).Items.Count==0).ToString())%>'>
                            </asp:Label>
                            </FooterTemplate>                          
                        </asp:Repeater>--%>
                     </ul>
                  </div>                
                 
                  <asp:ObjectDataSource ID="ObjectDataSourceFormulariosAnteriores" runat="server" 
                     OldValuesParameterFormatString="original_{0}" SelectMethod="GetHistorialByLegajo" 
                     TypeName="com.paginar.formularios.businesslogiclayer.DashboardController">
                     <SelectParameters>
                         <asp:ControlParameter ControlID="HiddenFieldlegajo" Name="Legajo" 
                             PropertyName="Value" Type="Int32" />
                     </SelectParameters>
                   </asp:ObjectDataSource>
                   
                   
               </asp:panel>               
               <!--FIN - ModalPopup Objetivos-->
               
               
               <!--INICIO - ModalPopup Historial-->
               <cc1:modalpopupextender id="modalpopup1" runat="server" 
                  okcontrolid="btnOkayHistorial" 
                  targetcontrolid="historial" popupcontrolid="PanelH" 
                  backgroundcssclass="modalBackground">
               </cc1:modalpopupextender>
              
                      <%--style="display:none"--%> 
               <asp:panel CssClass="contentPopupHistorico" id="PanelH" style="display:none" runat="server">
                  <asp:Panel ID="Panel1" CssClass="titleModalPopup" runat="server">
                     <h2>Histórico</h2>
                     <span id="btnOkayHistorial" class="closeModalPopup">Cerrar</span>                  
                  </asp:Panel>
                  
                  
                  <div class="contentModalPopup">
                     <asp:GridView ID="GridViewHistorial" runat="server" AutoGenerateColumns="False" 
                       DataSourceID="ObjectDataSourceHistorialEvaluados" 
                          DataKeyNames="Legajo,PeriodoID,TipoFormularioID" 
                          ondatabound="GridViewHistorial_DataBound">
                       <Columns>
                           <asp:TemplateField HeaderText="Período" SortExpression="Período">
                                <ItemTemplate>
                                   <asp:Label ID="lblPeridodoID" runat="server" Text='<%# Periodo(Eval("PeriodoID")) %>'></asp:Label>
                               </ItemTemplate>
                           </asp:TemplateField>
                           <asp:TemplateField HeaderText="Tipo de Evaluación" 
                               SortExpression="Tipo de Evaluación">
                               <ItemTemplate>
                                   <asp:Label ID="lblTipoFormularioID" runat="server" Text='<%# Eval("TipoFormularioDesc") %>'></asp:Label>
                               </ItemTemplate>
                           </asp:TemplateField>
                           <asp:BoundField DataField="Calificacion" HeaderText="Calificación" 
                               SortExpression="Calificacion" />
                           <asp:TemplateField HeaderText="Estado" 
                               SortExpression="Estado">
                               <ItemTemplate>
                                   <asp:Label ID="lblEstado" runat="server" Text='<%# DameEstado(Eval("EstadoID")) %>'></asp:Label>
                               </ItemTemplate>
                           </asp:TemplateField>
                           <asp:TemplateField ShowHeader="False">
                               <ItemTemplate>
                               <%--<asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/PMP/img/ver.jpg"  OnClientClick='<%# ImprimirEvaluado(Eval("Legajo"), Eval("PeriodoID"), Eval("TipoFormularioID")) %>' ToolTip="Ver más..." />--%>
                                    <asp:ImageButton ID="ImageButton2" runat="server" ImageUrl="~/PMP/img/ver.jpg"  OnClientClick='<%# ImprimirEvaluado(Eval("Legajo"), Eval("PeriodoID"), Eval("TipoFormularioID")) %>' ToolTip="Ver más..." />
                                   
                               </ItemTemplate>
                           </asp:TemplateField>
                       </Columns>
                       <EmptyDataTemplate>
                           
                           <asp:Label ID="Label3" runat="server" Text="El evaluado no posee evaluaciones en períodos anteriores"></asp:Label>
                       </EmptyDataTemplate>
                     </asp:GridView>                  
                  </div>
                   
                  <asp:ObjectDataSource ID="ObjectDataSourceHistorialEvaluados" runat="server" 
                        OldValuesParameterFormatString="original_{0}" 
                        SelectMethod="GetHistoricoByLegajo" 
                        TypeName="com.paginar.formularios.businesslogiclayer.FormulariosController">
                      <SelectParameters>
                          <asp:ControlParameter ControlID="HiddenFieldlegajo" Name="legajo" 
                              PropertyName="Value" Type="Int32" />
                          <asp:ControlParameter ControlID="HiddenFieldPeriodoID" Name="periodoActual" 
                              PropertyName="Value" Type="Int32" />
                              <asp:Parameter DefaultValue="1" Type="Int32" Name="TipoPeriodoID" />
                      </SelectParameters>
                    </asp:ObjectDataSource>

                  <%--<asp:ObjectDataSource ID="ObjectDataSourceHistorial" runat="server" 
                    OldValuesParameterFormatString="original_{0}" SelectMethod="GetHistorial" 
                    TypeName="com.paginar.formularios.businesslogiclayer.FormulariosController">
                    <SelectParameters>
                        <asp:ControlParameter ControlID="HiddenFieldPeriodoID" Name="PeriodoID" 
                            PropertyName="Value" Type="Int32" />
                        <asp:ControlParameter ControlID="HiddenFieldlegajo" Name="legajo" 
                            PropertyName="Value" Type="Int32" />
                        <asp:ControlParameter ControlID="HiddenFieldTipoFormularioID" 
                            Name="TipoFormularioID" PropertyName="Value" Type="Int32" />
                    </SelectParameters>
                </asp:ObjectDataSource>--%>
               </asp:panel>
            

               <%--<asp:panel CssClass="contentPopup" id="PanelH" style="display:none" runat="server">
                  <asp:Panel ID="Panel1" CssClass="titleModalPopup" runat="server">
                     <h2>Historial</h2>
                     <span id="btnOkayHistorial" class="closeModalPopup">Cerrar</span>                  
                  </asp:Panel>
                  
                  
                  <div class="contentModalPopup">
                     <asp:GridView ID="GridViewHistorial" runat="server" AutoGenerateColumns="False" 
                       DataSourceID="ObjectDataSourceHistorial">
                       <Columns>
                          <asp:BoundField DataField="Estado" HeaderText="Estado" ReadOnly="True" 
                               SortExpression="Estado" />
                           <asp:BoundField DataField="Fecha" DataFormatString="{0:dd/MM/yyyy}" HeaderText="Fecha" SortExpression="Fecha" />
                           
                           <asp:BoundField DataField="Usuario" HeaderText="Usuario" ReadOnly="True" 
                               SortExpression="Usuario" />
                       </Columns>
                       <EmptyDataTemplate>
                           <asp:Label ID="Label3" runat="server" Text="El formulario actual no tiene registros en el historial."></asp:Label>
                       </EmptyDataTemplate>
                     </asp:GridView>                  
                  </div>

                  <asp:ObjectDataSource ID="ObjectDataSourceHistorial" runat="server" 
                    OldValuesParameterFormatString="original_{0}" SelectMethod="GetHistorial" 
                    TypeName="com.paginar.formularios.businesslogiclayer.FormulariosController">
                    <SelectParameters>
                        <asp:ControlParameter ControlID="HiddenFieldPeriodoID" Name="PeriodoID" 
                            PropertyName="Value" Type="Int32" />
                        <asp:ControlParameter ControlID="HiddenFieldlegajo" Name="legajo" 
                            PropertyName="Value" Type="Int32" />
                        <asp:ControlParameter ControlID="HiddenFieldTipoFormularioID" 
                            Name="TipoFormularioID" PropertyName="Value" Type="Int32" />
                    </SelectParameters>
                </asp:ObjectDataSource>
               </asp:panel>--%>
            
               <!--FIN - ModalPopup Historial-->
               
            </ItemTemplate>
            
         </asp:FormView>
         <asp:ObjectDataSource ID="ObjectDataSourceCabecera" runat="server" OldValuesParameterFormatString="original_{0}"
            SelectMethod="GetCabecera" TypeName="com.paginar.formularios.businesslogiclayer.FormulariosController">
            <SelectParameters>
               <asp:ControlParameter ControlID="HiddenFieldPeriodoID" Name="PeriodoID" PropertyName="Value"
                  Type="Int32" />
               <asp:ControlParameter ControlID="HiddenFieldlegajo" Name="legajo" PropertyName="Value"
                  Type="Int32" />
               <asp:ControlParameter ControlID="HiddenFieldTipoFormularioID" Name="TipoFormularioID"
                  PropertyName="Value" Type="Int32" />
                  <asp:ControlParameter ControlID="HiddenFieldLegajoEvaluador" Name="LegajoEvaluador"
                  PropertyName="Value" Type="Int32" />
            </SelectParameters>
         </asp:ObjectDataSource>
          
         <div id="main">
            <div id="main-inner">
               <div id="content">
                  <div id="content-inner">
                     <asp:ContentPlaceHolder ID="CPH1" runat="server">
                     </asp:ContentPlaceHolder>
                  </div>
               </div>
            </div><!--/content-->
         </div><!--/main-->
         <div id="footer">
            <div id="footer-inner">
            </div>
         </div><!--/footer-->
         </form>
      </div>
   </div><!--/page-->
  
</body>
</html>
