﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MP_PMP.master.cs" Inherits="com.paginar.johnson.Web.PMP.MP_PMP" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <script type="text/javascript" src="/PMP/js/jquery-1.3.2.min.js"></script>
    <link rel="stylesheet" href="/PMP/css/general.css" type="text/css" />
    <link rel="stylesheet" href="/PMP/css/adm.css" type="text/css" />
    <link rel="stylesheet" href="/PMP/css/global.css" type="text/css" />
    <link rel="stylesheet" href="/PMP/css/jquery.cluetip.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/PMP/css/dashboard.css" media="screen" />
    <%--<script src="js/jquery.hoverIntent.js" type="text/javascript"></script>
    <script src="js/jquery.bgiframe.min.js" type="text/javascript"></script>--%>
    <script src="/PMP/js/jquery.cluetip.min.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>

