﻿body {
	font-family: Arial;
	font-size: 12px;
	color: #2A3C6D;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	/*vertical-align: baseline;*/
	background: transparent;
}

.AspNet-GridView {
    margin-bottom:10px;
   /* overflow-x:auto;
    overflow-y:hidden;*/
    clear:both;
}
.AspNet-GridView table{
    width:100%;
}
.AspNet-GridView table th,
.AspNet-GridView table td {
    /*padding:5px;
    border:1px solid #D9D9D9;*/
    font-size:12px;
}

.AspNet-GridView th{
    background-color:#E6E6E6;
    color:#666666;
    text-transform:uppercase;
    font-weight:normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


input, select, textarea{
    font-size: 11px;
    color: #666666;
    font-family:Arial;
    vertical-align:middle;
}