﻿@media print {
    #noprint {
        display:none;
    }
}



body {
    font-family:Trebuchet MS;
    font-size:13px;
    color:#000;
}

h1 {
    font-size:25px;
    font-weight:normal;
    color:#333;
}

h2 {
    color:#F5F5F5;
    font-size:16px;
    padding:5px;
    clear:both;
    position:relative;
    margin-top:0;
}
h2 .bg{
    position:absolute;
    top:0;
    left:0;
    border-top:32px solid #000;
    width:100%;
    z-index:-1;
}

h3 {
    font-size:14px;
    margin:0;
}

table {
  width: 100%;
  /*border: 1px solid #b4b4b4;*/
  border: 0px; 
  border-collapse: collapse;
  /*margin-bottom:20px;*/
}
table th, table td {
    padding:5px;
    border:1px solid #D9D9D9;
    font-size:12px;
}
 table th 
 {
 
    
    text-transform:uppercase;
    font-weight:normal;
}     
    

#wrapper {
    width:750px;
    margin:0 auto;
}

.AspNet-DataList-Header {
    text-align:left;
    border:1px solid #aaa;
}
.AspNet-DataList{
    margin-bottom:20px;
}
.AspNet-DataList td{
    width:245px;
}


/*
.generales .AspNet-DataList-Outer-List li{
    width:100%;
}
*/

#header {
    overflow:hidden;
    zoom:1;
    padding:20px;
    margin-bottom: 20px;
    position:relative;
}
#header .bg{
    position: absolute;
    top:0;
    left:0;
    width: 750px;
    height:100px;
    border-top:100px solid #ccc;
    z-index:-1;
}
#header h1 {
    float:left;
    margin:0;
}
#header #logo {
    float:right;
}
.textominiatura {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    text-decoration: none;
}

/*Lista Noticias*/
.leftHalf {
    /*clear: left;*/
    float: left;
    width: 48%;
}

.rightHalf {
    float: right;
    width: 48%;
}

.form-item, .controls {
    margin-bottom: 15px;
   /* overflow: hidden;*/
}
#content p, #content li, #content label {
    font-size: 1em;
}

.form-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

td .bg{
    position:absolute;
    top:-7px;
    left:0px;
    border-top:30px solid gray;
    width:100%;
    z-index:-1;
}

td .bg{
    position:absolute;
    top:-7px;
    left:0px;
    border-top:30px solid gray;
    width:100%;
    z-index:-1;
}

td .bgSubT{
    position:absolute;
    top: -15px;
    left:0px;
    border-top:60px solid #F6F6F6;
    width:100%;
    z-index:-1;
}

td .bgSubT2{
    position:absolute;
    top: -10px;
    left:0px;
    border-top:35px solid #E6E6E6;
    width:100%;
    z-index:-1;
}

td .bgSubT1{
    position:absolute;
    top: -22px;
    left:0px;
    border-top:60px solid #F6F6F6;
    width:100%;
    z-index:-1;
}

th .bg{
    position:absolute;
    top: 0px;
    left:0px;
    border-top: 30px solid gray;
    width:100%;
    z-index:-1;
}

th .bg4{
    position:absolute;
    top: -3px;
    left:0px;
    border-top: 35px solid gray;
    width:100%;
    z-index:-1;
}

th .bg1{
    position:absolute;
    top:-13px;
    left:0px;
    border-top:58px solid gray;
    width:100%;
    z-index:-1;    
}

th .bg3{
    position:absolute;
    top:-23px;
    left:0px;
    border-top:67px solid gray;
    width:100%;
    z-index:-1;    
}

th .bg2{
    position:absolute;
    top:-10px;
    left:0px;
    border-top:40px solid gray;
    width:100%;
    z-index:-1;    
}

    
    

 
