﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/TwoSidebars.master" AutoEventWireup="true" CodeBehind="cursoPDA.aspx.cs" Inherits="com.paginar.johnson.Web.recursos_humanos.cursoPDA" %>
<%@ Register src="../UserControl_Home/ucPDA.ascx" tagname="ucPDA" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
    <uc1:ucPDA ID="ucPDA1" runat="server" />
</asp:Content>
