﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/TwoSidebars.master" AutoEventWireup="true" CodeBehind="Workshop.aspx.cs" Inherits="com.paginar.johnson.Web.recursos_humanos.Workshop" %>
<%@ Register src="../UserControl_Home/ucWorkShop.ascx" tagname="ucWorkShop" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
    
    <uc1:ucWorkShop ID="ucWorkShop1" runat="server" />
    
</asp:Content>
