﻿<%@ Page Language="C#" MasterPageFile="~/BO/MasterBO.Master" CodeBehind="Details.aspx.cs" Inherits="com.paginar.johnson.Web.Details" %>


<asp:Content ID="headContent" ContentPlaceHolderID="head" Runat="Server">
    <script src="../../js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //cabecera de links
            $('#treeBO > table').wrap('<div class="header"></div>');

            //contenedor de links
            $('div[id*=treeBOn]').each(function (index) {
                $(this).addClass('content');
            });
        });
    </script>
</asp:Content>

<asp:Content ID="Content1" ContentPlaceHolderID="CPMAIN" Runat="Server">
    <asp:DynamicDataManager ID="DynamicDataManager1" runat="server" AutoLoadForeignKeys="true">
        <DataControls>
            <asp:DataControlReference ControlID="FormView1" />
        </DataControls>
    </asp:DynamicDataManager>

    <h2 class="DDSubHeader"><%--Entrada de la tabla--%> <%= table.DisplayName %></h2>

    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <asp:ValidationSummary ID="ValidationSummary1" runat="server" EnableClientScript="true"
                HeaderText="Lista de errores de validación" CssClass="DDValidator" />
            <asp:DynamicValidator runat="server" ID="DetailsViewValidator" ControlToValidate="FormView1" Display="None" CssClass="DDValidator" />

            <asp:FormView runat="server" ID="FormView1" DataSourceID="DetailsDataSource" OnItemDeleted="FormView1_ItemDeleted" RenderOuterTable="false">
                <ItemTemplate>
                
                        <asp:DynamicEntity runat="server" />
                        <div class="controls">
                            <asp:Button CommandName="Delete" Text="Eliminar" OnClientClick='return confirm("¿Está seguro de que desea eliminar este elemento?");' />
                        </div>
                </ItemTemplate>
                <EmptyDataTemplate>
                    <div class="messages msg-info">No existe tal elemento.</div>
                </EmptyDataTemplate>
            </asp:FormView>

            <asp:LinqDataSource ID="DetailsDataSource" runat="server" EnableDelete="true" />

            <asp:QueryExtender TargetControlID="DetailsDataSource" ID="DetailsQueryExtender" runat="server">
                <asp:DynamicRouteExpression />
            </asp:QueryExtender>

            <br />

            <div class="DDBottomHyperLink">
                <asp:DynamicHyperLink ID="ListHyperLink" runat="server" Action="List">Mostrar todos los elementos</asp:DynamicHyperLink>
            </div>
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>

