﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TangoVideo.aspx.cs" Inherits="com.paginar.johnson.Web.nuestracompania.TangoVideo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       
          <object  classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0"
            width="640" height="352" >
		    <param name="autoplay" value="true" />
	        <param name="autostart" value="true" />            
            <param name="movie" value="/nuestracompania/documents/tango/MUDANZA.swf" />
            <param name="quality" value="high" />
            <param name="wmode" value="opaque" />
            <embed src="/nuestracompania/documents/tango/MUDANZA.swf" quality="high" wmode="opaque" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"
                type="application/x-shockwave-flash" width="640" height="352"></embed>
        </object>




    </div>
    </form>
</body>
</html>
