﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucBannerComedor.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucBannerComedor" %>
<div class="box">
    <asp:HyperLink ID="ucBannerComedorHL" runat="server" ImageUrl="~/images/comedor.jpg" NavigateUrl="~/eventos/comedor.aspx" onclick="javascript:CallServiceGuardarEstadistica('~/eventos/comedor.aspx','Comedor');" />
    </div>