﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucBannerLineaDirecta.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucBannerLineaDirecta" %>
<div class="box">
    <asp:HyperLink ID="HLCombi" runat="server" ImageUrl="~/images/lineadirecta.jpg" 
        NavigateUrl="~/servicios/LineaDirecta.aspx" Width="220px" 
        onclick="javascript:CallServiceGuardarEstadistica('/servicios/LineaDirecta.aspx','Línea Directa');" 
        Target="_self"></asp:HyperLink>
</div>
