﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucBannerArgo.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucBannerArgo" %>

<div class="box"  runat="server" id="divArgo" visible="false">

        <a href="/nuestracompania/Argo.aspx"  onclick="javascript:CallServiceGuardarEstadistica('~/nuestracompania/argo.aspx','Argo');" >
    <asp:Image ID="Image1" ImageUrl="../images/Logo_ArGo.png" runat="server"  Width="220px" />
</a>
</div>
