﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucBannerVoluntariado.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucBannerVoluntariado" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
<div id="destacado" runat="server" >
    <div class="content" >
    <div class="slider-wrapper theme-default">
    <div id="slider2" class="nivoSlider">
    <a href='#'><img src='/images/voluntariado/1.jpg' data-thumb='/images/voluntariado/1.jpg' alt="" title="" /></a>
    <a href='#'><img src='/images/voluntariado/2.jpg' data-thumb='/images/voluntariado/2.jpg' alt="" title="" /></a>
    <a href='#'><img src='/images/voluntariado/3.jpg' data-thumb='/images/voluntariado/3.jpg' alt="" title="" /></a>
    <a href='#'><img src='/images/voluntariado/4.jpg' data-thumb='/images/voluntariado/4.jpg' alt="" title="" /></a>
    <a href='#'><img src='/images/voluntariado/5.jpg' data-thumb='/images/voluntariado/5.jpg' alt="" title="" /></a>
    <a href='#'><img src='/images/voluntariado/6.jpg' data-thumb='/images/voluntariado/6.jpg' alt="" title="" /></a>
    <a href='#'><img src='/images/voluntariado/7.jpg' data-thumb='/images/voluntariado/7.jpg' alt="" title="" /></a>
    <a href='#'><img src='/images/voluntariado/8.jpg' data-thumb='/images/voluntariado/8.jpg' alt="" title="" /></a>
    <a href='#'><img src='/images/voluntariado/9.jpg' data-thumb='/images/voluntariado/9.jpg' alt="" title="" /></a>
    </div>
    </div>
<%--        <asp:Image ID="ImgVoluntariado" runat="server" />
        <asp:SlideShowExtender ID="SlideShowExtender1" runat="server" ContextKey="" 
            Loop="True" PlayButtonText="play" PlayInterval="6500" 
            SlideShowServiceMethod="GetSlideVoluntariado" 
            SlideShowServicePath="~/WsNoticias.asmx" StopButtonText="stop" 
            AutoPlay="True" TargetControlID="ImgVoluntariado">
        </asp:SlideShowExtender>--%>
    </div>
</div>
