﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucBannerSkillBuilder.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucBannerSkillBuilder" %>

<div class="box" runat="server" id="divBannerSkillBuilder" visible="false">

<a href="https://collab.scj.com/Services/OTD/SitePages/Home.aspx"  target="_blank"  onclick="javascript:CallServiceGuardarEstadistica('https://collab.scj.com/Services/OTD/SitePages/Home.aspx','SkillBuilder');" >
    <asp:Image ImageUrl="../images/loboskill.png" runat="server"  Width="220px" />
</a>
         
</div>
