﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucBanner.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucBanner" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
<script type="text/javascript">

//    $(document).ready(function () {
    // bannerpda.swf
//        $('a').click(function () { __doPostBack('anchorO', ''); });

//    });

//    function CallServiceGuardarEstadistica(Pagina, Titulo) {

//        var UsuarioID = $('input[id$=HiddenFieldUsuarioID]').val();
//        


//        $.ajax({
//            type: "POST",
//            url: "../UserControl_Home/wsEstadisticas.asmx/GuardarEstadistica",
//            data: "{'UsuarioID': '" + UsuarioID + "', 'Pagina': '" + Pagina + "', 'Titulo': '" + Titulo + "'}",
//            contentType: "application/json; charset=utf-8",
//            dataType: "json",
//            success: OnSuccess,
//            error: OnError
//        });

//        function OnSuccess(data, status) {
//           // alert("OnSuccess");
//        }

//        function OnError(request, status, error) {
//            //alert(error);
//        }

//
    //    }


</script>
<div id="destacado" runat="server" >

    <asp:HiddenField ID="HiddenFieldUsuarioID" runat="server" />


<%--<div  class="content" Visible="false" runat="server" ID="ImagenArg"> 
      
      <a href="http://www.mundialscj2014.com/" target="_blank" onclick="javascript:CallServiceGuardarEstadistica('http://www.mundialscj2014.com/','Mundial SCJ');" >
      <img src="/images/banner-vivi-la-copa-mundial-01.jpg" border="0" alt="Mundial SCJ" /></a>
      
        
      <br />
      <br />
    </div>--%>


<%--    <div class="content" Visible="false" runat="server" ID="ImagenArgX">
        
        <object  classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0"
            width="458" height="361" >
		    <param name="autoplay" value="true" />
	        <param name="autostart" value="true" />            
            <param name="movie" value="/images/BANNER-ondemand.swf" />
            <param name="quality" value="high" />
            <param name="wmode" value="opaque" />
            <embed src="/images/BANNER-ondemand.swf" quality="high" wmode="opaque" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"
                type="application/x-shockwave-flash" width="458" height="361"></embed>
        </object>
        <br />
    </div> --%>





    <div  class="content" Visible="false" runat="server" ID="BannerGPTW"> 
      <a href="https://www.youtube.com/watch?list=UUBADOihJGRbM44zVZ9QaA7g&v=GAcWtoE2o34" target="_blank">
      <img src="../images/banner-GPTW-2014.gif" border="0" alt="GPTW"></a>
        
      <br />
     
    </div>
    <%--
    <div  class="content" Visible="false" runat="server" ID="BannerGeos"> 
-      <a href="https://insight.towerswatson.com/wix/p28212761.aspx" target="_blank" onclick="javascript:CallServiceGuardarEstadistica('https://insight.towerswatson.com/wix/p28212761.aspx','Destacados Sustentabilidad'); " border="0">
      <img src="../images/home/bannergeos.gif" border="0" alt="Embalados por el cambio" width="458" />
      </a>
      <a href="#" onclick="Popup=window.open('/SessionTransfer.aspx?dir=2asp&url=ecards/index.asp','Ecads','width=630,height=930'); return false;"><img src="../images/banner-findeanio.jpg" alt="Tarjetas Navideñas" width="458"/> </a>
        
      <br />
      <br />
    </div>

    <div  class="content" Visible="false" runat="server" ID="BannerViviSCJ"> 
      <a href="http://www.wpks.com.ar/Vivi/vivi01.html " target="_blank"><img src="../images/home/viviSCJ.png" border="0" alt="GPTW" /></a>
        
      <br />
      <br />
    </div>--%>
    

        
    <style type="text/css">
		#CPHMain_main_ucBanner1_BannerSkillbuilder {
			width:458px;
			height:361px;
			position:relative;
		}
		#flashObject { 
			position:relative; 
			z-index:1 
		}
		#floater { 
			position:absolute; 
			z-index:2; 
			top:0; 
			left:0; 
			width:458px;
			height:361px;
			background-color:#fff;
			filter: Alpha(opacity=1);
		}		
	</style>
<%--    <div class="content" Visible="false" runat="server" ID="BannerPMP"   onclick="javascript: window.location='/servicios/form_evaldesemp.aspx'; " >
       
        <object id="flashObject"  classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0"
            width="458" height="361" >
		    <param name="autoplay" value="true" />
	        <param name="autostart" value="true" />            
            <param name="movie" value="/images/bannerPMP.swf" />
            <param name="quality" value="high" />
            <param name="wmode" value="opaque" />
            <embed src="/images/bannerPMP.swf" quality="high" wmode="opaque" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"
                type="application/x-shockwave-flash" width="458" height="361"></embed>
        </object>
        <a id="floater" href="/servicios/form_evaldesemp.aspx"></a>       
        <br /><br />
   </div>
--%>
    
<%--  <div class="content" Visible="false" runat="server" ID="BannerCountDown"   >
       
        <object id="flashObject"  classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0"
            width="458" height="361" >
		    <param name="autoplay" value="true" />
	        <param name="autostart" value="true" />            
            <param name="movie" value="/images/countdown3.swf" />
            <param name="quality" value="high" />
            <param name="wmode" value="opaque" />
            <param name="allowScriptAccess" value="always" />
            <embed src="/images/countdown1.swf" quality="high" wmode="opaque" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"
                type="application/x-shockwave-flash" width="458" height="361"></embed>
        </object>
    
   </div>
    
    <br />--%>

<%--        <div class="content" Visible="false" runat="server" ID="BannerWorkDay">
           
        <a href="https://fed.scj.com:9031/idp/startSSO.ping?PartnerSpId=http://www.workday.com" target="_blank" >
          <asp:Image ID="Image1" runat="server" width="458" ImageUrl="/images/banner-workday-click-en-tu-cabeza.gif" />
        </a>
        </div>--%>

<%--         <div class="content" Visible="false" runat="server" ID="BannerSkillbuilder"> 
           	<object id="flashObject" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="458" height="340">
	   	    <param name="movie" value="/images/BannerSB.swf" />
		    <param name="flashvars" value="flvUrl=/images/BannerSB.mp4&videoAutoPlay=true" />
            <param name="wmode" value="opaque" />
		    <!--[if !IE]>-->
		    <object type="application/x-shockwave-flash" data="/images/BannerSB.swf" width="458" height="360" flashvars="flvUrl=/images/BannerSB.mp4&videoAutoPlay=true">
		    <!--[if !IE]>-->
		    </object>
		    <!--<![endif]-->
	        </object>
           <a id="floater" href=" https://collab.scj.com/Services/OTD/SitePages/Home.aspx " target="_blank"></a>       
        <br /><br />
         </div>--%>


<%--    <div class="content" Visible="false" runat="server" ID="BannerMY">
           
        <a  href="/servicios/form_evaldesemp.aspx" >
        <asp:Image ID="ImgTodos" runat="server" width="455" ImageUrl="/images/Recordatorio.jpg" />
        </a>
        
     <asp:SlideShowExtender SlideShowServicePath="~/WsNoticias.asmx" ID="ImagenBanneTodos_SlideShowExtender"
            runat="server" SlideShowServiceMethod="GetSlidesHome" TargetControlID="ImgTodos"
            UseContextKey="True" NextButtonID="" PlayButtonID="" PlayButtonText="play" StopButtonText="stop"
            PreviousButtonID="" AutoPlay="true" Loop="True" PlayInterval="6500" 
            ContextKey="0">
        </asp:SlideShowExtender>-
        </div>
        <br /><br />--%>

    <div class="content" Visible="false" runat="server" ID="ImagenArgx">
          
       <a  href="http://www.scjgestiondetalento.com.ar/mym/"  target="_blank">
        <asp:Image ID="ImgArgentina" runat="server"  width="458" ImageUrl="/images/MMlanzamiento.jpg"/>
       </a>
    </div>


     <div class="content" Visible="false" runat="server" ID="BannerEstrategia2016">
            <a href="/nuestracompania/estrategias2016.aspx">
              <asp:Image  ID="imgAllCluster" runat="server"   width="458" ImageUrl="/images/Banner-Strategy2016.jpg"/>
            </a>
        
       </div>
    
    <br /><br />

<%--        <asp:Image  ID="ImgArg" runat="server" />
    <asp:SlideShowExtender SlideShowServicePath="~/WsNoticias.asmx" ID="ImagenBannerArg_SlideShowExtender"
            runat="server" SlideShowServiceMethod="GetSlidesHome" TargetControlID="ImgArg"
            UseContextKey="True" NextButtonID="" PlayButtonID="" PlayButtonText="play" StopButtonText="stop"
            PreviousButtonID="" AutoPlay="true" Loop="True" PlayInterval="5000">
        </asp:SlideShowExtender>
--%>        </div>




<asp:HiddenField ID="hdClusterID" runat="server" />

