﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucCampaniadeSeguridad.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucCampaniadeSeguridad" %>

<div class="box">
    <asp:ImageButton ID="imgCampaniaSeguridad" runat="server" 
        ImageUrl="~/images/seguridad.jpg" 
        PostBackUrl="~/novedades/campaniaseguridad.aspx" OnClientClick="javascript:CallServiceGuardarEstadistica('~/novedades/campaniaseguridad.aspx','Campaña de Seguridad');" />
</div>