﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucCombi.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucCombi" %>
<div class="box">
    <asp:HyperLink ID="HLCombi" runat="server" ImageUrl="~/images/viapool.jpg" 
        NavigateUrl="https://scj.viapool.com/auth/login/" Width="220px" 
        onclick="javascript:CallServiceGuardarEstadistica('scj.viapool.com/auth/login/','Via Pool');" 
        Target="_blank"></asp:HyperLink>
</div>