﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucComollegar.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucComollegar" %>

    <asp:Label ID="lblcomoLlegar" runat="server" Text=""></asp:Label>
