﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucComentarios.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucComentarios" %>
<asp:ImageButton ID="imgComentarios" runat="server" 
    ImageUrl="" />