﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucLogoEnjoyDiference.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucLogoEnjoyDiference" %>

<div class="box">
    <asp:Image ID="imgEnjoyDiference" runat="server" ImageUrl="~/images/diference.jpg" Visible="false"/>

    <div  class="content" Visible="false" runat="server" ID="ImageButtonEnjoyDiference"> 
      <a href="/nuestracompania/Tango.aspx" onclick="javascript:CallServiceGuardarEstadistica('~/nuestracompania/Tango.aspx','Embalados');" >
       <img src="/images/banner-mudanza-san-isidro-embalados.gif" border="0"></a>
    </div>

    
    

</div>