﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucObraSocial.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucObraSocial" %>

<div class="box">
    <asp:ImageButton ID="imgObraSocial" runat="server" 
        ImageUrl="~/images/obra-social.jpg" PostBackUrl="~/servicios/salud.aspx" OnClientClick="javascript:CallServiceGuardarEstadistica('~/servicios/salud.aspx','Obra Social');" />
</div>