﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucPMPMid.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucPMPMid" %>
<div class="box">
    <asp:HyperLink ID="imgPmpMid" runat="server" ImageUrl="~/images/thumb_MID_1.jpg" NavigateUrl="~/servicios/form_evaldesemp.aspx" />
    </div>
