﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucProgReconocimientos.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucProgReconocimientos" %>
<div class="box">
   <%-- <a href="~/nuestracompania/politicasdeempresa.aspx"><asp:Image ID="LogoReconocimiento" runat="server" ImageUrl="~/images/LogoReconocimiento.jpg"/></a>--%>
    <asp:HyperLink ID="ucProgReconocimientosHL" runat="server" ImageUrl="~/images/LogoReconocimiento.jpg" NavigateUrl="~/nuestracompania/politicasdeempresa.aspx?PoliticasDeReconocimiento=True" onclick="javascript:CallServiceGuardarEstadistica('~/nuestracompania/politicasdeempresa.aspx?PoliticasDeReconocimiento=True','Programa Reconocimiento');" />
</div>
