﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucSustentabilidad.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucSustentabilidad" %>
<div class="box" runat="server" ID="ImageSustentabilidad">
    <div  class="content"> 
      <a href="/nuestracompania/sustentabilidad.aspx" onclick="javascript:CallServiceGuardarEstadistica('/nuestracompania/sustentabilidad.aspx','Liderazgo en sustentabilidad');">
      <img src="../images/destacadosustentabilidad.jpg" border="0"></a>
    </div>
</div>
