﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucTalleresDeIngles.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucTalleresDeIngles" %>

<div class="box"  runat="server" id="DivTaller" visible="false">
    
    
    <a href="/recursos_humanos/Workshop.aspx"  onclick="javascript:CallServiceGuardarEstadistica('~/recursos_humanos/Workshop.aspx?tall=ing','Talleres de Ingles');" >
     <asp:Image ID="Image1" ImageUrl="~/images/banner_programa-de-ingles.jpg" runat="server"  Width="220px" />
    </a>


</div>