﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucTarjetasNavidenias.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucTarjetasNavidenias" %>

<div class="box">

<a href="#" onclick="Popup=window.open('/SessionTransfer.aspx?dir=2asp&url=ecards/index.asp','Ecads','width=630,height=920'); return false;"><img src="../images/tarjetas-navidenas.jpg" alt="Tarjetas Navideñas"/> </a>
  
</div>