﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucUsuario.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucUsuario" %>
<p>
   Bienvenido
</p>

<asp:FormView ID="frmUsuario" runat="server">
    <ItemTemplate>
         <asp:Literal ID="ltApeNom" runat="server"></asp:Literal>
         <asp:Literal ID="ltArea" runat="server"></asp:Literal>
         <asp:Literal ID="ltCargo" runat="server"></asp:Literal>
         <asp:Literal ID="ltInterno" runat="server"></asp:Literal>
        <asp:Image ID="imgUsuario" runat="server" />
        <asp:HyperLink ID="hpMiPerfil" runat="server">Mi Perfil</asp:HyperLink>
    </ItemTemplate>

</asp:FormView>

   

