﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucViviScj.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucViviScj" %>
<div class="box">
    <a href="http://www.viviscj.com.ar" target="_blank" onclick="javascript:CallServiceGuardarEstadistica('http://www.viviscj.com.ar','Vivi SCJ');"><asp:Image ID="imgViviScj" runat="server" ImageUrl="~/images/viviscj.jpg"/></a>
</div>
