﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucVonluntariado.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucVonluntariado" %>

<div class="box">
    <asp:ImageButton ID="imgVoluntariado" runat="server" 
        ImageUrl="~/images/comunidad.jpg"   
        PostBackUrl="~/RelacionesComunidad/Default.aspx" OnClientClick="javascript:CallServiceGuardarEstadistica('~/relacionescomunidad/default.aspx','SumarComunidad');" />
         
</div>
<%--PostBackUrl="~/Voluntariado/Default.aspx" />--%>