﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucVoluntariadoCronograma.ascx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.ucVoluntariadoCronograma" %>
<h2>Cronograma de Actividades</h2>

<%--<asp:Label ID="lblOutput" runat="server" Text="Label"></asp:Label>
<br />
<div style="float:right">
<table class="Cronograma">
<thead>
<tr>
    <th colspan="2">Referencia</th>
</tr>
</thead>
<tbody>
<tr>
<td>Fecha Estimada</td>
<td><asp:Image ID="Image1" runat="server" ImageUrl="~/images/tildeAzul.png" /></td>
</tr>
<tr>
<td>Fecha a Definir</td>
<td><asp:Image ID="Image2" runat="server" ImageUrl="~/images/tildeNaranja.png" />
    </td>
</tr>
</tbody>
</table>
</div>--%>
<br />
<div align="center">
        <a href="/Voluntariado/Imagenes/cronograma2013voluntariado.jpg" class="jqzoom" rel='gal1'  title="Cronograma" >
<img id="imgCronograma" src="/Voluntariado/Imagenes/cronograma2013voluntariado.jpg" style="width:670px" />
        </a>

<%--<asp:Image ID="Image3" runat="server" ImageUrl="~/Voluntariado/Imagenes/cronograma2013voluntariado.jpg" width="670px" />--%>
</div>
