﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/TwoSidebars.master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="com.paginar.johnson.Web.UserControl_Home.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">

video
         <div class="content" runat="server" ID="BannerSkillbuilder"> 
           	<object id="flashObject" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="458" height="360">
	   	    <param name="movie" value="/images/BannerSB.swf" />
		    <%--<param name="flashvars" value="flvUrl=/images/BannerSB.mp4&videoAutoPlay=true" />--%>
            <param name="wmode" value="opaque" />
		    
	        </object>
           <%--<a id="floater" href=" https://collab.scj.com/Services/OTD/SitePages/Home.aspx " target="_blank"></a>       --%>
        <br /><br />
         </div>


</asp:Content>
