﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Cluster.ascx.cs" Inherits="com.paginar.johnson.Web.Cluster" %>
<asp:HyperLink ID="HyperLink1" runat="server"
    Text="<%# GetDisplayString() %>"
    NavigateUrl="<%# GetNavigateUrl() %>"  />