﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Cluster_Edit.ascx.cs" Inherits="com.paginar.johnson.Web.Cluster_Edit" %>
<asp:DropDownList ID="DropDownList1" AutoPostBack="true" runat="server" 
    CssClass="droplist">
</asp:DropDownList>