﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DateTimeAnioMes.ascx.cs" Inherits="com.paginar.johnson.Web.DateTimeAnioMes" %>
<asp:Literal runat="server" ID="Literal1" Text="<%# FieldValueString %>" />