﻿<%@ Control Language="C#" CodeBehind="EmailAddress.ascx.cs" Inherits="com.paginar.johnson.Web.EmailAddressField" %>

<asp:HyperLink ID="HyperLink1" runat="server" Text="<%# FieldValueString %>" Target="_blank" />

