﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FileUpload_Edit.ascx.cs" Inherits="com.paginar.johnson.Web.FileUpload_Edit" %>
<asp:PlaceHolder ID="PlaceHolder1" runat="server" Visible="false">
    <asp:Image Visible="false" ID="Image1" runat="server" />&nbsp;
    <asp:Label ID="Label1" runat="server" Text="<%# FieldValueString %>"></asp:Label>
    <asp:HyperLink ID="HyperLink1" Target="_blank" runat="server"></asp:HyperLink>&nbsp;
</asp:PlaceHolder>
<asp:FileUpload ID="FileUpload1" runat="server" />&nbsp;
<asp:CustomValidator
    ID="CustomValidator1"
    runat="server"
    ErrorMessage="">
</asp:CustomValidator>