﻿<%@ Control Language="C#" CodeBehind="ForeignKey.ascx.cs" Inherits="com.paginar.johnson.Web.ForeignKeyField" %>

<asp:HyperLink ID="HyperLink1" runat="server"
    Text="<%# GetDisplayString() %>"
    NavigateUrl="<%# GetNavigateUrl() %>"  />

