﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Html.ascx.cs" Inherits="com.paginar.johnson.Web.Html" %>

<asp:Literal 
    runat="server" 
    ID="Literal1" 
    Text="<%# FieldValueEditString %>" />