﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Ubicacion_Edit.ascx.cs" Inherits="com.paginar.johnson.Web.DynamicData.FieldTemplates.Ubicacion_Edit" %>
<asp:DropDownList ID="DropDownList1" AutoPostBack="true" runat="server" 
    CssClass="droplist">
</asp:DropDownList>