﻿#header {
    height:85px;
}
#treeBO {
    margin-top:-10px;
}
#treeBO .header{
    background-color:#2A3C6D;
    margin-bottom:10px;
}
#treeBO .header td {
    padding:0;
}
#treeBO .header span {
    color:#FFFFFF;
    font-size:16px;
    font-weight:bold;
    padding:2px 10px;
    display:block;
}
#treeBO .content {
    margin-bottom:15px;
}
#treeBO .content a {
    font-weight:bold;
}


.panel2Col {
    overflow:hidden;

}
.panel2Col .panelColOne,
.panel2Col .panelColTwo {
    width: 49%;
}
.panel2Col .panelColOne {
    float: left;
}
.panel2Col .panelColTwo {
    float:right;
}
    