@charset "utf-8";
/* CSS Document */

#analog-clock{
	position:relative;
	width:75px;
	display:none;/* to make it start hidden, then fade in */
}

#analog-clock #bg, #hourHand, #minuteHand, #secondHand{
	position:absolute;
}