/* @group Estilos cumpleanios */

.cumpleanios td{
    /*border:1px solid red;*/
    padding:5px;
}
    
/* @group Estilos Feriados*/

.adjuntos{
    margin-bottom:5px;
}

.adjuntos a{
   background: url("images/bullet-azul.png") no-repeat scroll 0 2px transparent;
   padding-left:10px;
    
}

/* @group TABLA FERIADOS  */

.table-title{
    background-color:#e6e6e6;
    text-transform:uppercase;
    color:#7d7d7d;
    margin-bottom:5px;
    padding: 5px 0 5px 5px;
}

.table-title td{
    padding: 5px 0 5px 5px;
    font-weight:bold;
}

.sin-border{border-left:none!important;}

.feriados td{
    padding: 5px 0 5px 5px;
    border-left:1.5px solid #e6e6e6;
}

.feriados tr{
    border-bottom:1.5px solid #e6e6e6;
    padding:5px;
    height:40px;
    line-height:18px;
}

    


