﻿
body 
{
    text-decoration: none;
	line-height: 1.3;
    color: #000000 !Important;
    font-family: Arial;
}
a {
    color:#000000;
}

h2 {
    color: #558EC6;
    margin-bottom: 20px;
}
h2 {
    color:#000000;
    font-size:45px;
}
h3 {
    color:#000000;
    margin-bottom: 10px;    
    clear:both;
}
h4 {
    color:#000000;
    font-size:13px;/*antes 14px*/
    margin-bottom: 10px;
}
p 
{
    color:#000000;
    margin-bottom: 15px;
}

.AspNet-GridView 
{
    text-decoration: none;
    margin-bottom:10px;
    clear:both;
}
.AspNet-GridView table{
    width:100%;
}
.AspNet-GridView table th,
.AspNet-GridView table td 
{
    text-decoration: none;
    padding:5px;
    border:1px solid #D9D9D9;
    color: #000000 !important;
    font-size:12px;
}

.AspNet-GridView th
{
    text-decoration: none;
    background-color:#E6E6E6;
    color:#000000;
    text-transform:uppercase;
    font-weight:normal;
}

