#wrapper {
    width: 960px;
    margin: 0 auto;
}
#header {
    height: 160px;
    background: #FFFFFF url(images/bg-header.gif) repeat-x 0 0;
}
#main {
    
}
#main-inner{
    overflow: hidden;
}

#content-inner {
    padding: 10px;
    min-height: 100px;
}
.two-sidebars #content {
    width: 480px;
    float: left;
}
.sidebar-left #content {
    width:720px;
    float: left;
}

#sidebar-left {
    width: 240px;
    float: left;
}
#sidebar-left-inner{
    padding: 10px;
}
#sidebar-right{
    width: 240px;
    float: left;
}
#sidebar-right-inner{
    padding: 10px;
}

