﻿@font-face {
    font-family: 'MetaProBold';
    src: url('fonts/metapro-bold.eot');
    src: url('fonts/metapro-bold.eot') format('embedded-opentype'),
         url('fonts/metapro-bold.woff') format('woff'),
         url('fonts/metapro-bold.ttf') format('truetype'),
         url('fonts/metapro-bold.svg#MetaProBold') format('svg');
}

@font-face {
    font-family: 'Tahoma';
    src: url('fonts/metapro-normal.eot');
    src: url('fonts/metapro-normal.eot') format('embedded-opentype'),
         url('fonts/metapro-normal.woff') format('woff'),
         url('fonts/metapro-normal.ttf') format('truetype'),
         url('fonts/metapro-normal.svg#Tahoma') format('svg');
}

body 
{
    margin: 0;
    padding: 0;
}

#form1 {
	width: 960px;
	margin: 0 auto;
	background: url('images/bgPDA.gif') center top no-repeat;
	position: relative;
	padding-top: 150px;
	padding-bottom: 1px;
}

#logoSCJ {
	position: absolute;
	right: 20px;
	top: 50px;
}

#producto {
	position: absolute;
	top: 46px;
	left: 30px;
}

#pdaLogo {
	position: absolute;
	top: 158px;
	right: 10px;
}

.header-pda {
	background: url('images/title-bg.png') top left;
	font: normal 18px 'Tahoma';
	padding: 10px 158px 10px 220px;
	height: 73px;
}

.header-pda h2 {
	color: #FFF;
	margin: 0;
	padding: 0;
}

.subheader-pda {
	padding: 10px 30px 10px 220px;
    width: 34%;
	background: #0086cd;
	font: normal 12px 'Tahoma';
}

.subheader-pda h3 {
	color: #FFF;
	margin: 0;
	padding: 0;
}

.content-pda {
	background: url('images/fondoGrad.png') left top repeat-x;
	margin: 25px 40px;
	padding-bottom: 5px;
}

.colpda-left,
.colpda-rigth {
	float: left;
	width: 411px;
	padding: 10px 0;
	margin: 0;
}
	
	.colpda-left {
		padding-left: 24px;
		padding-right: 5px;
	}


		.colpda-left .data-item {
			background: url('images/data-item-bg.png') top left no-repeat;
			font: normal 12px 'Tahoma';
			color: #6e6e6e;
			padding: 8px 17px;
			margin-top: 10px;
		}

			.colpda-left .data-item:first-child {
				margin-top: 0;
			}


	.colpda-rigth {
		height: 166px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 10px;
        width: 425px;
	}

		.colpda-rigth input,
		.colpda-rigth textarea {
			background: url("images/data-item-textarea-bg.png") no-repeat scroll left top transparent;
            border: medium none;
            color: #6E6E6E;
            font: 12px 'Tahoma';
            height: 150px;
            padding: 8px 17px;
            resize: none;
            width: 391px;
		}

.colpda-all {
	clear: both;
	width: 100%;
	text-align: center;
}

	p {
		font: 12px 'Tahoma';
		color: #3a3642;
		text-align: left;
		padding: 0 38px;
	}

	.item-modulo {
		display: inline-block;
		position: relative;
		background: url('images/boton-sprite.png') top left no-repeat;
		width: 92px;
	}

		.item-modulo.disabled {
			background: url('images/boton-sprite.png') top left no-repeat !important;
		}

		.item-modulo.disabled a {
			color: #ddd !important;
		}
		
		.item-modulo.selected.disabled
		{
		    background: url('images/boton-sprite.png') left -60px no-repeat !important;
	    }
	    
	    .item-modulo.selected.disabled a
		{
	        color: #3a3642;
		}

		.item-modulo:hover,
		.item-modulo.hover
		{
		    background-position: left -30px;
		    z-index: 3;
		}
		.item-modulo.selected {
			background-position: left -60px;
		}

		.item-modulo input {
			position: absolute;
			top: -10px;
			left: -10px;
			margin: 0;
			visibility: hidden;
		}

		.item-modulo a {
			font: 11px 'Tahoma';
			text-decoration: none;
			color: #6e6e6e;
			display: block;
			width: 93px;
			height: 24px;
			padding-top: 6px;
			margin-right: 5px;
		}

			.item-modulo:hover a,
			.item-modulo.selected a {
				color: #3a3642;
			}

			.item-modulo.disabled {

			}

	.form-submit {
		background: url('images/enviar-sprite.png') top left no-repeat;
		border: none;
		font: 11px 'Tahoma';
		color: #3a3642;
		padding: 3px 0 15px;
		width: 95px;
		cursor: pointer;
		margin-top: 10px;
		text-align: center;
	}

	.content-modal {
		text-align: left;
		position: absolute;
		top: 30px;
		left: 50%;
		width: 900px;
		padding: 10px 0;
		margin-left: -450px;
		background: #FFF;
		font: 12px 'Tahoma';
		z-index: 2;
		display: none;
	}

		.content-modal .mod-number {
			font-size: 11px;
			background: #0086cd;
			padding: 3px 30px 3px 35px;
			display: block;
			width: 60px;
			color: #FFF;
		}

		.content-modal .titulo {
			background: #659e47;
			font: normal 25px 'Tahoma';
			padding: 10px 35px;
			color: #FFF;
			text-transform: uppercase;
			display: inline-block;
		}

		.content-modal .objetivos {
			margin: 15px 35px;
			font-size: 15px;
			min-height: 50px;
			background: url('images/pda2.png') bottom right no-repeat;
			padding-right: 80px;
			text-align: justify;
		}
		
		.content-modal * 
		{
		    font: normal 12px 'Tahoma';
		}

		.content-modal .duracion-wrapp {
			background: #d2da8b;
			margin: 5px 35px 0;
			padding: 3px 10px;
		}

			.content-modal .duracion-wrapp span {
				font-family: Tahoma;
				font-weight: bold;
				margin-left: 5px;
			}

		.modal-overlay {
			background: url('images/overlay.png');
		    height: 100%;
		    left: 0;
		    position: fixed;
		    top: 0;
		    width: 100%;
		    display: none;
		    z-index: 1;
		}

		.modal-cerrar {
			position: absolute;
			z-index: 3;
			height: 25px;
			width: 25px;
			background: url('images/cerrar.png') top left no-repeat;
			top: 10px;
			right: 10px;
			cursor: pointer;
		}
		
.mandatory-tooltip 
{
    background: url('images/tooltip-obligatorio.png') top left no-repeat;
    width: 69px;
    height: 23px;
    position: absolute;
}


/* @group [mensajes] */
.messages {
	border: 1px solid;
	margin: 15px 0;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
    display:block;
}
.messages li{
    background:none;
}
.msg-info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url(images/info.png);
}
.msg-exito {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url(images/exito.png);
}
.msg-alerta {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url(images/alerta.png);
}
.msg-error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url(images/error.png);
}

.msg-error1 {
	color: #D8000C;
	padding:10px;
}
/* @end */
