@media print {
    #noprint {
        display:none;
    }
}



body {
    font-family:Trebuchet MS;
    font-size:13px;
    color:#000;
}

h1 {
    font-size:30px;
    font-weight:normal;
    color:#333;
}

h2 {
    color:#F5F5F5;
    font-size:16px;
    padding:5px;
    clear:both;
    position:relative;
    margin-top:0;
}
h2 .bg{
    position:absolute;
    top:0;
    left:0;
    border-top:32px solid #000;
    width:100%;
    z-index:-1;
}

h3 {
    font-size:14px;
    margin:0;
}

table {
  width: 100%;
  /*border: 1px solid #b4b4b4;*/
  border: 0px; 
  border-collapse: collapse;
  /*margin-bottom:20px;*/
}
table th, table td {
  /*border: 1px solid #b4b4b4;*/
  border: 0px;
  padding:5px;
}

#wrapper {
    width:750px;
    margin:0 auto;
}

.AspNet-DataList-Header {
    text-align:left;
    border:1px solid #aaa;
}
.AspNet-DataList{
    margin-bottom:20px;
}
.AspNet-DataList td{
    width:245px;
}


/*
.generales .AspNet-DataList-Outer-List li{
    width:100%;
}
*/
#formImprEst .AspNet-GridView-Normal span, #formImprEst .AspNet-GridView-Alternate span,
#formImprEst .AspNet-GridView-Normal , #formImprEst .AspNet-GridView-Alternate {
    color: #000000; 
    font-family: Trebuchet MS;
    font-size: 13px;
}

#FormImpWSInscriptos .AspNet-GridView-Normal span, #FormImpWSInscriptos .AspNet-GridView-Alternate span,
#FormImpWSInscriptos .AspNet-GridView-Normal , #FormImpWSInscriptos .AspNet-GridView-Alternate {
    color: #000000; 
    font-family: Trebuchet MS;
    font-size: 13px;
}
#FormImpWSInscriptos th {     text-align: left; }  

#FormImprimirWKTodos .AspNet-GridView-Normal span, #FormImprimirWKTodos .AspNet-GridView-Alternate span,
#FormImprimirWKTodos .AspNet-GridView-Normal , #FormImprimirWKTodos .AspNet-GridView-Alternate {
    color: #000000; 
    font-family: Trebuchet MS;
    font-size: 13px;
}

#FormImprimirWKTodos tr td:first-child
{
    width:55%; 
}
#FormImprimirWKTodos th {     text-align: left; }  

#header {
    overflow:hidden;
    zoom:1;
    padding:20px;
    margin-bottom: 20px;
    position:relative;
}
#header .bg{
    position: absolute;
    top:0;
    left:0;
    width: 750px;
    height:100px;
    border-top:100px solid #ccc;
    z-index:-1;
}

#header .bgcumple{
    position: absolute;
    top:0;
    left:0;
    width: 750px;
    height:100px;
    /*border-top:100px solid #ccc;*/
    background: url(images/bg-header.gif) #ffffff repeat-x 0px 0px;
    z-index:-1;
}

#ImgCumple {
    float: right;
}
.Hcumple
{
    color: #FFFFFF;
    font-weight: bold;
}

#header h1 {
    float:left;
    margin:0;
}
#header #logo {
    float:right;
}
.textominiatura {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    text-decoration: none;
}

/*Lista Noticias*/
.leftHalf {
    /*clear: left;*/
    float: left;
    width: 48%;
}

.rightHalf {
    float: right;
    width: 48%;
}

.form-item, .controls {
    margin-bottom: 15px;
   /* overflow: hidden;*/
}
#content p, #content li, #content label {
    font-size: 1em;
}

.form-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* @group [para solucionar centrado en impresion de noticias ] */
#formNoticiasABM{
    text-align:center;
}
#formNoticiasABM #wrapper{
    text-align:left;
}
/* @end */

#GVNoticias{
    }

#GVNoticias .AspNet-GridView-Header{
    /*border: 1px solid #000000;*/
    padding:5px!important;
    background-color:#000000;
    text-align: left;    
    }
    
    
 #GVNoticias .AspNet-GridView-Header a{
    color:#FFFFFF;   
    }

#GVNoticias .AspNet-GridView-Header th{

    /*background-color:#000000;*/
  
    }    
    
    
#GVNoticias a{
    color:#000000;
    font-size: 14px;
    margin: 0;
    text-decoration:none;   
    font-weight:bold;
    }
    
    
#GVNoticias .AspNet-GridView-Normal, #GVNoticias .AspNet-GridView-Alternate{
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    text-decoration: none;    
}
 
 #formImprEst div thead{
    background-color: #CCCCCC;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:5px;   
    height:28px;
}
 
 #formImprEst #GridView1, #GridView2, #GridView3, #GridView4, #GridView5, #GridView6{
    border:1px solid #CCCCCC;  
    margin-top:20px;
}

 #formImprEst .AspNet-GridView-Footer{
    background-color: #CCCCCC;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:5px;  
}
  #formImprEst div tbody tr td{
    border:1px solid #CCCCCC;  
}
  #formImprEst th{
      text-align:left;
    
}

/*Impresion pda*/

#formImprPda .AspNet-GridView-Normal span, #formImprPda .AspNet-GridView-Alternate span,
#formImprPda .AspNet-GridView-Normal , #formImprPda .AspNet-GridView-Alternate {
    color: #000000; 
    font-family: Trebuchet MS;
    font-size: 13px;
}
 #formImprPda div thead{
    background-color: #CCCCCC;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:5px;   
    height:28px;
}


 #formImprPda #GridView1, #GridView2, #GridView3, #GridView4, #GridView5, #GridView6{
    border:1px solid #CCCCCC;  
    margin-top:20px;
}

 #formImprPda .AspNet-GridView-Footer{
    background-color: #CCCCCC;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:5px;  
}
  #formImprPda div tbody tr td{
    border:1px solid #CCCCCC;  
}
  #formImprPda th{
      text-align:left;
    
}

/*Fin Impresion pda*/

/* @group [Styles visor 4] */


 .class_font_visor4{
        font-family: Lucida Console;
 }
     
.noFormatoImpreso{

}

#TextoFormateado{
    width:660px!important;
}
.textoPlano{
    
    width:698px!important;
    padding:25px 0 25px 40px!important;
    margin:0 auto;
}
.noPrintVisor{
    width:115px!important;
    float:none!important;
}
.siPrintVisor{
    position:relative;
    width:100%;
}
.siPrintMes{
    position:absolute;
    left:0;
}
.siPrintGenerado{
    position:absolute;
    right:0;
}

#wrapper #Calendar1
{
 font-size: 10px;   
 border: 2px solid #D9D9D9;
}

.titCalendario
{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    background-color: #2A3C6D;
    color: #FFFFFF;
}

#Calendar1 tbody td 
{
    border: 0 none;
    padding: 0px;
    
}
.CalendarioDias
{
    background: url("images/bg-content.gif") repeat-x scroll 0 0 transparent;
    border: 2px solid #D9D9D9;
}

/*border: 1px solid #D9D9D9;*/
/* background: url("images/bg-content.gif") repeat-x scroll 0 0 transparent;*/
/* @end */

/* .cabeceraCometarios{
    background-color: #CCCCCC;
    font-weight: bold;
    text-transform: uppercase;
     AspNet-GridView-Footer
}*/
