.has_sb {
    left: -999999em;
    position: absolute;
    text-indent: -999999em;
}
.selectbox {
    display: inline-block;
    font-family: arial;
    font-size: 1em;
    margin: 1px;
    position: relative;
    vertical-align: middle;
}
.selectbox .display {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ABADB3;
    color: #666666;
    cursor: default;
    display: block;
    font-weight: normal;
    height: 1.46em;
    line-height: 1.46em;
    outline: medium none;
    overflow: hidden;
    padding: 0 24px 0 3px;
    position: relative;
    text-decoration: none;
	width:auto;
}
.selectbox.disabled .display {
    color: #999999;
}
.selectbox.focused .display .text {
    background-color: #3399FF;
    color: #FCFCFC;
    display: inline-block;
}
.selectbox .display.active {
    border-color: #7B7D83;
}
.selectbox .display .arrow_btn {
    background: url("../images/select_arrow_bg.gif") repeat-x scroll left center #DBDBDB;
    border: 1px solid #707070;
    display: block;
    height: 1.15em;
    line-height: 0.92em;
    padding: 1px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 1.08em;
}
.selectbox .display .arrow_btn .arrow {
    background: url("../images/select_arrow.gif") no-repeat scroll center center transparent;
    display: inline-block;
    height: 4px;
    left: 0.33em;
    position: absolute;
    top: 0.5em;
    width: 7px;
}
.selectbox .display.active .arrow_btn {
    box-shadow: 0 0 1px 1px #9EB0BA inset;
}
.selectbox .display.hover .arrow_btn {
    background-image: url("images/select_arrow_bg_hover.gif");
}
.selectbox .value {
    display: none;
}
.selectbox.items {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #828790;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    display: block;
    font-family: arial;
    
    list-style-type: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 1px;
    z-index: 99999;	
	
    color: #666666;
    font-family: Arial;
    font-size: 11px;	
	width: 150px;

}
.selectbox.items.above {
}
.selectbox.items li {
    display: block;
    margin: 0;
    padding: 0;
	background: url(images/bullet.png) no-repeat 0 3px;
}
.selectbox  ul {
    width: 100px;
	}

.selectbox.items li.first {
    margin-top: 0;
}
.selectbox.items li > .item {
    color: #666666;
    cursor: default;
    display: block;
    padding: 4px 6px;
    text-decoration: none;
}
.selectbox.items li > .item > .text {
    display: inline-block;
}
.selectbox.items li.selected > .item {
    border-bottom: 1px dotted #999999;
    border-top: 1px dotted #999999;
}
.selectbox.items li.disabled > .item {
    color: #999999;
}
.selectbox.items li.hover > .item {
    background-color: #3399FF;
    color: #FCFCFC;
}
.selectbox.items .value {
    display: none;
}
.selectbox.items .optgroup .items {
    border: medium none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.selectbox.items .optgroup > .label {
    cursor: default;
    font-weight: bold;
    line-height: 1em;
}
.selectbox.items .optgroup .items li > .item {
    padding-left: 1em;
}
.selectbox .round_sb.display {
    border-radius: 5px 5px 5px 5px;
    padding: 2px 26px 2px 5px;
}
.selectbox .round_sb.display .arrow_btn {
    border-radius: 3px 3px 3px 3px;
    right: 2px;
    top: 2px;
}
.selectbox.round_sb.items {
    border-radius: 5px 5px 5px 5px;
}
.selectbox.round_sb.items > li > a {
    padding: 4px 6px;
}
.selectbox.round_sb.items > li.first > .item {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.selectbox.round_sb.items > li.last > .item {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.selectbox.round_sb.items > li > .label {
    line-height: 2.08em;
    padding: 4px 6px;
}
.selectbox.round_sb.items > li > .items li > .item {
    padding: 4px 6px 4px 12px;
}
.selectbox .display.fixed_width {
    padding: 0 24px 0 3px;
    width: 73px;
}
.selectbox.fixed_width.items {
    width: 100px;
}
.selectbox.display.fixed_width2 {
    padding: 0 24px 0 3px;
   
}
.selectbox.fixed_width2.items {
    width: 50px !important;
}
