﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/OneSidebarLeft.master" AutoEventWireup="true" CodeBehind="DiasCompensatoriosUsuario.aspx.cs" Inherits="com.paginar.johnson.Web.Compensatorios.DiasCompensatoriosUsuario" %>

<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
    <h2>
        Francos Compensatorios</h2>
<DIV class="messages msg-info"><span>Usted no tiene los permisos necesarios para acceder a esta sección. Contáctese con un admisnitrador. Muchas Gracias</span></DIV>
    <asp:Timer ID="TimerRedireccion" runat="server" Enabled="False" 
    ontick="TimerRedireccion_Tick" Interval="15000">
    </asp:Timer>
</asp:Content>
