﻿<%@ Page  Title="BackOffice" Language="C#" MasterPageFile="~/BO/MasterBO.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="com.paginar.johnson.Web.BO.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="CPMAIN" runat="server">
</asp:Content>
