﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/TwoSidebars.master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="com.paginar.johnson.Web.MasterPages.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
</asp:Content>
