﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MPFY.master.cs" Inherits="com.paginar.johnson.Web.PMPFY.MasterPages.MPFY" %>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
   <meta http-equiv="X-UA-Compatible" content="IE=8" />
   <title>Evaluación de desempeño - Johnson</title>
   <link rel="stylesheet" type="text/css" href="/PMPFY/css/styles.css" />

   <script type="text/javascript" src="/PMPFY/js/jquery-1.3.2.min.js"></script>
   <script type="text/javascript" src="/PMPFY/js/jquery-ui-1.7.2.custom.min.js"></script>
   <script type="text/javascript" src="/PMPFY/js/jquery.maxlength-min.js"></script>
   <script type="text/javascript" src="/PMPFY/js/DD_roundies_0.0.2a.js"></script>
   <script type="text/javascript" src="/PMP/js/jquery.cluetip.min.js"></script>
   
 <%--  <script type="text/javascript" src="/PMPFY/js/jquery.example.js"></script>--%>
  <%-- <script type="text/javascript" src="/PMPFY/js/jquery.ezpz_tooltip.js"></script>  --%> 


   <asp:ContentPlaceHolder ID="head" runat="server">
   </asp:ContentPlaceHolder>
</head>
  
<body  runat="server" ID="BodyPmp">
<script type="text/javascript">




   
    
</script>
   <div id="page">
      <div id="page-inner">
         <form id="form1" runat="server">
         <asp:ScriptManager ID="SM" runat="server">
         <Scripts>
         <asp:ScriptReference Path="~/PMP/js/MyAppFramework.js"  />
         </Scripts>
         </asp:ScriptManager>
         <asp:HiddenField ID="HiddenFieldPeriodoID" Value="" runat="server" />
         <asp:HiddenField ID="HiddenFieldTipoFormularioID" Value="" runat="server" />
         <asp:HiddenField ID="HiddenFieldlegajo" Value="" runat="server" />
         <asp:HiddenField ID="HiddenFieldLegajoEvaluador" runat="server" />
         <asp:FormView ID="FVC" runat="server" DataSourceID="ObjectDataSourceCabecera" 
             ondatabound="FVC_DataBound">
            <ItemTemplate>
               <div id="header">
                  <div id="header-inner">
                     <div id="logo-title">
                        <div id="logo"><img id="logo-image" alt="Logo Johnson " src="/PMP/img/logo.jpg" /></div>
                        <div id="site-name">
                           <h1>Evaluación de Desempeño <span><asp:Literal ID="TipoFormularioLabel" runat="server" Text='<%# Bind("TipoFormulario") %>' /></span></h1>
                        </div>
                     </div>
                     <div id="datos">
                        <ul id="fechas">
                           <li>Período de Evaluación: <asp:Literal ID="Label1" runat="server" Text='<%# Bind("Periodo") %>' /></li>
                           <li>Fecha de Inicio del PMP: <asp:Literal ID="EvaluacionFechaLabel" runat="server" Text='<%# Bind("EvaluacionFecha", "{0:dd/MM/yyyy}") %>' /></li>
                        </ul>                   
                        <div id="personas">
                           <div id="personas-inner">
                              <div class="evaluador">
                                 <h2>Evaluador</h2>
                                 <ul>
                                    <li><strong>Nombre y Apellido: </strong><asp:Literal ID="EvaluadorNombreLabel" runat="server" Text='<%# Bind("EvaluadorNombre") %>' /></li>
                                    <li><strong>Legajo: </strong><asp:Literal ID="EvaluadorLegajoLabel" runat="server" Text='<%# Bind("EvaluadorLegajo") %>' /></li>
                                    <li><strong>Área: </strong><asp:Literal ID="Literal1" runat="server" 
                                            Text='<%# Bind("EvaluadorArea") %>' /></li>
                                    <li><strong>Cargo: </strong><asp:Literal ID="Literal2" runat="server" Text='<%# Bind("EvaluadorCargo") %>' /></li>
                                 </ul>
                              </div>
                              <div class="evaluado">
                                 <h2>Evaluado</h2>
                                 <ul>
                                    <li><strong>Nombre y Apellido: </strong> <asp:Literal ID="Label2" runat="server" Text='<%# Bind("EvaluadoNombre") %>' /></li>
                                    <li><strong>Legajo: </strong><asp:Literal ID="EvaluadoLegajoLabel" runat="server" Text='<%# Bind("EvaluadoLegajoReal") %>' /></li>
                                    <li><strong>Área: </strong><asp:Literal ID="EvaluadoSectorLabel" runat="server" Text='<%# Bind("EvaluadoArea") %>' /></li>
                                    <li><strong>Cargo: </strong><asp:Literal ID="Literal3" runat="server" Text='<%# Bind("EvaluadoCargo") %>' /></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                       
                        <div id="foto">
                                    <asp:Image ID="Image1" ToolTip='<%# Bind("EvaluadoNombre") %>' AlternateText='<%# Bind("EvaluadoNombre") %>' ImageUrl='<%# Bind("EvaluadoFoto") %>' runat="server" />
                                 </div>    
                                 <div id="helps" align="center" style="padding:10px 0 0 0">
                                    <asp:HyperLink ID="HyperLink2" CssClass="masInfo" runat="server" ToolTip="Para asistencia comunicarse al mail <a href='mailto:SCJPMP@paginar.net'>SCJPMP@paginar.net</a>.<br /> Por favor indique su nombre e interno para responder su consulta a la brevedad.">
                                        <br /><asp:Image ID="Image2" runat="server" ImageUrl="~/PMPFY/img/desk-help.png" />
                                    </asp:HyperLink>  

                                 </div>
                        <div id="calificacion">
                          <%-- <h2>Calificación General: <span id="SpanCalificacion"><asp:Literal ID="TextCalificacion" runat="server" Text='<%# Bind("Calificacion") %>' /></span></h2>--%>
                        </div>
                     </div>
                    <%-- button btnHistorial--%>
                     <asp:LinkButton CssClass="button btnEvalAnt" ToolTip="Historial de evaluaciones" 
                          Text="Histórico" ID="historial" runat="server"></asp:LinkButton>
                    <%-- <asp:LinkButton CssClass="button btnEvalAnts" ToolTip="Hisotrico" 
                          Text="Historico" ID="eval_ant" runat="server" Visible="False"></asp:LinkButton>--%> 
                     <asp:LinkButton CssClass="button btnObjetivos" ToolTip="Objetivos" 
                          Text="Objetivos" ID="Objetivos" runat="server"></asp:LinkButton>                    
                  </div><!--/header-inner-->
               </div><!--/header-->
               

               <cc1:modalpopupextender id="modalpopup1" runat="server" 
                  okcontrolid="btnOkayHistorial" 
                  targetcontrolid="historial" popupcontrolid="PanelH" 
                  backgroundcssclass="modalBackground">
               </cc1:modalpopupextender>
              
               <asp:panel CssClass="contentPopupHistorico" id="PanelH" style="display:none" runat="server">
                  <asp:Panel ID="Panel1" CssClass="titleModalPopup" runat="server">
                     <h2>Histórico</h2>
                     <span id="btnOkayHistorial" class="closeModalPopup">Cerrar</span>                  
                  </asp:Panel>
                  
                  
                  <div class="contentModalPopup">
                     <asp:GridView ID="GridViewHistorial" runat="server" AutoGenerateColumns="False" 
                       DataSourceID="ObjectDataSourceHistorialEvaluados" 
                          DataKeyNames="Legajo,PeriodoID,TipoFormularioID" 
                          ondatabound="GridViewHistorial_DataBound">
                       <Columns>
                           <asp:TemplateField HeaderText="Período" SortExpression="Período">
                                <ItemTemplate>
                                   <asp:Label ID="lblPeridodoID" runat="server" Text='<%# Periodo(Eval("PeriodoID")) %>'></asp:Label>
                               </ItemTemplate>
                           </asp:TemplateField>
                           <asp:TemplateField HeaderText="Tipo de Evaluación" 
                               SortExpression="Tipo de Evaluación">
                               <ItemTemplate>
                                   <asp:Label ID="lblTipoFormularioID" runat="server" Text='<%# Eval("TipoFormularioDesc") %>'></asp:Label>
                               </ItemTemplate>
                           </asp:TemplateField>
                           <asp:TemplateField HeaderText="Estado" 
                               SortExpression="Estado">
                               <ItemTemplate>
                                   <asp:Label ID="lblEstado" runat="server" Text='<%# DameEstado(Eval("EstadoID")) %>'></asp:Label>
                               </ItemTemplate>
                           </asp:TemplateField>
                           <asp:TemplateField HeaderText="Calificación" SortExpression="Calificacion">
                               <ItemTemplate>
                                   <asp:Label ID="lblCalificacion" runat="server" Text='<%# Eval("Calificacion") %>'></asp:Label>
                               </ItemTemplate>
                           </asp:TemplateField>
                           <asp:TemplateField ShowHeader="False">
                               <ItemTemplate>
                                    <asp:ImageButton ID="ImageButton2" runat="server" ImageUrl="~/PMP/img/ver.jpg"  OnClientClick='<%# ImprimirEvaluado(Eval("Legajo"), Eval("PeriodoID"), Eval("TipoFormularioID")) %>' ToolTip="Ver más..." />
                                   
                               </ItemTemplate>
                           </asp:TemplateField>
                       </Columns>
                       <EmptyDataTemplate>
                           
                           <asp:Label ID="Label3" runat="server" Text="No cuenta con evaluaciones anteriores"></asp:Label>
                       </EmptyDataTemplate>
                     </asp:GridView>                  
                  </div>
                   
                  <asp:ObjectDataSource ID="ObjectDataSourceHistorialEvaluados" runat="server" 
                        OldValuesParameterFormatString="original_{0}" 
                        SelectMethod="GetHistoricoActualByLegajo" 
                        TypeName="com.paginar.formularios.businesslogiclayer.FormulariosController">
                      <SelectParameters>
                          <asp:ControlParameter ControlID="HiddenFieldlegajo" Name="legajo" 
                              PropertyName="Value" Type="Int32" />
                          <asp:ControlParameter ControlID="HiddenFieldPeriodoID" Name="periodoActual" 
                              PropertyName="Value" Type="Int32" />
                              <asp:Parameter DefaultValue="3" Type="Int32" Name="TipoPeriodoID" />
                      </SelectParameters>
                    </asp:ObjectDataSource>

                
               </asp:panel>



                              <!--INICIO - ModalPopup Objetivos-->
               <cc1:modalpopupextender id="ModalpopupextenderObjetivos" runat="server" 
                  okcontrolid="btnOkayObjetivos" 
                  targetcontrolid="Objetivos" popupcontrolid="PanelObjetivos" 
                  backgroundcssclass="modalBackground">
               </cc1:modalpopupextender>
              
               <asp:panel CssClass="contentPopup" id="PanelObjetivos" style="display:none" runat="server">
                  <asp:Panel ID="Panel3" CssClass="titleModalPopup" runat="server">
                     <h2><asp:Label ID="lblAnioAnterior" runat="server" Text="Objetivos"></asp:Label></HeaderTemplate></h2>
                     <span id="btnOkayObjetivos" class="closeModalPopup">Cerrar</span>                  
                  </asp:Panel>                 
                  
                  <div class="contentModalPopup">
                           <asp:Repeater  ID="RepeaterObjetivosAnt" runat="server"  DataSourceID="ODSFrmObetivosAnt">
                                <HeaderTemplate>
                                  <table class="GridView">
                                            <tr>
                                                <th>
                                                </th>
                                                <th>
                                                    Objetivos
                                                </th>
                                                <th>
                                                    Medidas
                                                </th>
                                                <th>
                                                    Resultados
                                                </th>
                                            </tr>
                                </HeaderTemplate>
                                <ItemTemplate>
                                    <div >
                                        
                                            <tr runat="server" id="Obj1" visible='<%# Eval("objetivo1").ToString() != "" %>'>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    <asp:Label ID="objetivo1Label" runat="server" Text='<%# Eval("objetivo1") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="medidas1Label" runat="server" Text='<%# Eval("medidas1") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="resultados1Label" runat="server" Text='<%# Eval("resultados1") %>' />
                                                </td>
                                            </tr>
                                            <tr runat="server" id="Obj2" visible='<%# Eval("objetivo2").ToString() != "" %>'>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    <asp:Label ID="objetivo2Label" runat="server" Text='<%# Eval("objetivo2") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="medidas2Label" runat="server" Text='<%# Eval("medidas2") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="resultados2Label" runat="server" Text='<%# Eval("resultados2") %>' />
                                                </td>
                                            </tr>
                                            <tr runat="server" id="Obj3" visible='<%# Eval("objetivo3").ToString() != "" %>'>
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    <asp:Label ID="objetivo3Label" runat="server" Text='<%# Eval("objetivo3") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="medidas3Label" runat="server" Text='<%# Eval("medidas3") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="resultados3Label" runat="server" Text='<%# Eval("resultados3") %>' />
                                                </td>
                                            </tr>
                                            <tr runat="server" id="Obj4" visible='<%# Eval("objetivo4").ToString() != "" %>'>
                                                <td>
                                                    4
                                                </td>
                                                <td>
                                                    <asp:Label ID="objetivo4Label" runat="server" Text='<%# Eval("objetivo4") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="medidas4Label" runat="server" Text='<%# Eval("medidas4") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="resultados4Label" runat="server" Text='<%# Eval("resultados4") %>' />
                                                </td>
                                            </tr>
                                            <tr runat="server" id="Obj5" visible='<%#  Eval("objetivo5").ToString() != "" %>'>
                                                <td>
                                                    5
                                                </td>
                                                <td>
                                                    <asp:Label ID="objetivo5Label0" runat="server" Text='<%# Eval("objetivo5") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="medidas5Label" runat="server" Text='<%# Eval("medidas5") %>' />
                                                </td>
                                                <td>
                                                    <asp:Label ID="resultados5Label" runat="server" Text='<%# Eval("resultados5") %>' />
                                                </td>
                                            </tr>
                                          
                                        
                                    </div>
                                </ItemTemplate>
                                <FooterTemplate>
                                   </table>
                                    <%--<asp:Label ID="lblEmpty" Visible='<%# bool.Parse((ODSFrmObetivosAnt.Items.Count==0).ToString())%>'
                                        Text="No agrego objetivos en este periodo." runat="server" CssClass="messages msg-info"></asp:Label>--%>
                                </FooterTemplate>
                            </asp:Repeater>

                           <asp:ObjectDataSource ID="ODSFrmObetivosAnt" runat="server" OldValuesParameterFormatString="original_{0}" 
                             SelectMethod="GetObjetivosAntByLegajoPeriodoID" TypeName="com.paginar.johnson.DAL.DSEvalDesempTableAdapters.frmObjetivosProxTableAdapter">
                              <SelectParameters>                               
                                 <asp:ControlParameter ControlID="HiddenFieldlegajo" Name="legajo" 
                                     PropertyName="Value" Type="Int32" />
                                  <asp:ControlParameter ControlID="HiddenFieldPeriodoID" Name="PeriodoID" 
                                      PropertyName="Value" Type="Int32" />
                             </SelectParameters>
                             

                             
                         </asp:ObjectDataSource>                              
                            <asp:Label ID="lblEmpty" Visible='false'
                              Text="Usted no ingresó objetivos en el período anterior" runat="server" CssClass="messages msg-info"></asp:Label>
                               <div style=" vertical-align: bottom;padding-top: 15px;">
                           <asp:FormView ID="FormViewAdjunto" runat="server" DataSourceID="ODSFrmObetivosAnt">
                                            <ItemTemplate>
                                              Adjunto: <br />
                                                 <asp:HyperLink ID="HyperLink14" runat="server" NavigateUrl='<%# String.Format("~/PMP/documents/{0}",Eval("AdjuntoPath")) %>' Target="_blank" Text='<%# (String.IsNullOrEmpty(Eval("AdjuntoPath").ToString()) ? "" : Eval("AdjuntoPath").ToString().Substring(19))  %>'>HyperLink</asp:HyperLink>
                                              
                                            </ItemTemplate>
                                        </asp:FormView>
                                        
                              </div>          

                                     
                  </div>
              
               </asp:panel>
            
               <!--FIN - ModalPopup Objetivos-->
            


               
            </ItemTemplate>
            
         </asp:FormView>
         <asp:ObjectDataSource ID="ObjectDataSourceCabecera" runat="server" OldValuesParameterFormatString="original_{0}"
            SelectMethod="GetCabecera" TypeName="com.paginar.formularios.businesslogiclayer.FormulariosController">
            <SelectParameters>
               <asp:ControlParameter ControlID="HiddenFieldPeriodoID" Name="PeriodoID" PropertyName="Value"
                  Type="Int32" />
               <asp:ControlParameter ControlID="HiddenFieldlegajo" Name="legajo" PropertyName="Value"
                  Type="Int32" />
               <asp:ControlParameter ControlID="HiddenFieldTipoFormularioID" Name="TipoFormularioID"
                  PropertyName="Value" Type="Int32" DefaultValue="" />
                  <asp:Parameter DefaultValue="0" Name="LegajoEvaluador" Type="Int32" />
            </SelectParameters>
         </asp:ObjectDataSource>

         

          
         <div id="main">
            <div id="main-inner">
               <div id="content">
                  <div id="content-inner">
                     <asp:ContentPlaceHolder ID="CPH1" runat="server">
                     </asp:ContentPlaceHolder>
                  </div>
               </div>
            </div><!--/content-->
         </div><!--/main-->
         <div id="footer">
            <div id="footer-inner">
            </div>
         </div><!--/footer-->
         </form>
      </div>
   </div><!--/page-->

</body>
</html>
