.boton {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #666666 1px solid; CURSOR: hand; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.botonCancelar {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #666666 1px solid; CURSOR: hand; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.boton-2 {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #666666 1px solid; CURSOR: hand; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.boton-2 {
	BORDER-RIGHT: #00b8ed 1px outset; BORDER-TOP: #00b8ed 1px outset; BORDER-LEFT: #00b8ed 1px outset; COLOR: #888888; BORDER-BOTTOM: #00b8ed 1px outset; BACKGROUND-COLOR: #f5f5f5
}
.botonCancelar {
	BACKGROUND-COLOR: #008ab3
}
.formFondo {
	PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #e1f0f4; BORDER-BOTTOM-COLOR: #e1f0f4; COLOR: #006666; BORDER-TOP-STYLE: none; BORDER-TOP-COLOR: #e1f0f4; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #e1f0f4; BORDER-RIGHT-COLOR: #e1f0f4; BORDER-BOTTOM-STYLE: solid
}
.formFondo1 {
	PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #e1f0f4; BORDER-BOTTOM-COLOR: #e1f0f4; COLOR: #006666; BORDER-TOP-STYLE: none; BORDER-TOP-COLOR: #e1f0f4; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #e1f0f4; BORDER-RIGHT-COLOR: #e1f0f4; BORDER-BOTTOM-STYLE: solid
}
.formFondo1 {
	BORDER-LEFT-COLOR: #a8d2de; BORDER-BOTTOM-COLOR: #a8d2de; COLOR: #000000; BORDER-TOP-COLOR: #a8d2de; BACKGROUND-COLOR: #a8d2de; BORDER-RIGHT-COLOR: #a8d2de
}
.formgral {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #666666 1px solid; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.tabla_titulo {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #00b8ed
}
.tabla_fdo_destac-1 {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #ffffff
}
.tabla_fdo_destac-2 {
	BACKGROUND-COLOR: #ebf9fe
}
.tabla_fdo_submenu {
	FONT-SIZE: 9pt; COLOR: #da421a; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
.titsalas {
	FONT-SIZE: 11pt; COLOR: #4040a0; FONT-FAMILY: Arial, Helvetica, sans-serif
}
