.Botonlink {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #da421a; TEXT-DECORATION: none
}
.descripcion {
	FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.descripcionbold {
	FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.descripcionbold {
	FONT-WEIGHT: bold
}
.error {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #cc0000; LINE-HEIGHT: 12pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.lineapunteada {
	BORDER-RIGHT: #2e89a4 1px dashed; BORDER-TOP: #2e89a4 1px dashed; BACKGROUND: #ffffff; BORDER-LEFT: #2e89a4 1px dashed; BORDER-BOTTOM: #2e89a4 1px dashed
}
.tabla_borde-999999 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.tabla_fondo-gris {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: #F5F5F5; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.tabla_fondo-celeste {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.tabla_fondo-f8f8f8 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.tabla_fondo-gris {
	BACKGROUND: #eeeeee
}
.tabla_fondo-f8f8f8 {
	BACKGROUND: #f8f8f8
}
.tabla_fondo-celeste {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #666666 1px solid; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.tabla_tit-1 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: #dddddd; COLOR: #7f7f7f; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.texto_rojo {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.texto_gris-1 {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.texto_gris-2 {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textocolor1 {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textocolor1 {
	COLOR: #2e89a4
}
.textochico {
	FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Arial
}
.texto_gris-2 {
	COLOR: #7f7f7f
}
A.texto_gris-2:link {
	TEXT-DECORATION: underline
}
A.texto_gris-1:link {
	TEXT-DECORATION: underline
}
A.texto_gris-2:hover {
	TEXT-DECORATION: none
}
A.texto_gris-1:hover {
	TEXT-DECORATION: none
}
