@media print {
	.hidebutton {
		display:none;
	}
	
	#page {
		width: auto;
	}
	#header {
		width: auto;
	}
	#personas {
		width: 98%;
	}
	.bloque {
		zoom: 1;
	}
}

body {
	font-family: Trebuchet MS;
}
.bloque {
	border: 1px solid #999;
	padding: 10px;
}
.separador {
	border: 10px solid #000;
	margin-top: 5px;
	margin-bottom: 5px;
}
body,
#site-name h1,
#fechas,
#personas .evaluador,
h3,
p.descripcion,
div.definicion-grado,
table.GridView tr.HeaderStyle th{
	color: #000;
}
h3 {
	font-size: 16px;
	font-weight: normal;
}
.toUpperCase{
	text-transform: uppercase;
}
.definicion-grado li {
	margin-bottom: 5px;
}



/*cabecera*/
#header {
	_height: 250px;
	background: none;
	border: 1px solid #999;
}
#headerBG {
	border-top: 215px solid #ccc;
	border-bottom: 46px solid #999;
}
#personas .evaluador, 
#personas .evaluado {
	width: 98%;
}	
#foto {
	border:1px solid #999;
}
#calificacion {
	background: none;
}
#calificacion h2 {
	color: #000;
}
#acciones {
	position: absolute;
	bottom: 10px;
	right: 10px;
}


/*grilla*/
.GridView {
	font-family: Trebuchet MS;	
}
.GridView tr.HeaderStyle th {
	font-size: 14px;
}
.GridView td {
	padding: 15px;
}
.GridView p {
	margin: 0;
	font-size: 11px;
	line-height: 1.2;
}

/*comentarios*/
#comentarios .item {
	margin-bottom: 20px;
}
#comentarios .descripcion{
	margin-bottom: 10px;
}
#comentarios .textwrapper {
	border: 1px solid #999;
}
#comentarios .textwrapper .textwrapperInner{
	padding: 5px;
}