/* @group nombre */
/* @end */

/**
 * @Project: PMPOperarios - Johnson
 *
 * @version 1.0
 * @Last change: 07/06/10
  *
 * @link http://10481-scj-pmpoperarios.desa.paginar.org/PMP/Form_PmpoperariosEnevaluador.aspx
 * @copyright 2010 Paginar.net. All Rights Reserved.
 *
 */

/*
[Paleta colores]
#A6C5E1 titulo principal
#558DC6 celeste texto
#2B3C6E azul texto
#999999 gris texto
#E00000 rojo texto
#FFFFFF blanco texto
#F2F2F2 gris claro fondo textarea
#558DC6 fondo header

[Tabla de contenidos]
*/

@import url(reset.css);
@import url(smoothness/jquery-ui-1.7.2.custom.css);
@import url(tabs.css);
@import url(jquery.cluetip.css);

/*------------------------------------------------------------------
[Estilos generales]
*/
body {
	font-family: Arial;
	font-size: 12px;
	color: #558DC6;
}

h3 {
	text-transform: uppercase;
	margin-bottom: 10px;
}

h3 span {
	text-transform: none;
	font-weight: normal;
} 
p {
	margin-bottom: 15px;
}

p.descripcion {
	color:#2B3C6E;
	font-size: 11px;
}

.hide {
	display: none;
}
.alignCenter {
    text-align:center;
}

/* @group enlaces */
#page a {
    color:#558DC6;
}

a.btnHistorial {
	position: absolute;
	right: 240px;
	bottom: 14px;
}
a.btnEvalAnt {
	position: absolute;
	right: 160px;
	bottom: 14px;
}
a.btnObjetivos {
	position: absolute;
	right: 80px;
	bottom: 14px;
}

a.button  {
	background: url(../img/bg-btn-left.gif) no-repeat scroll 0 0;
	display:inline-block;
	white-space:nowrap;
	cursor:pointer;
	padding: 4px 0 5px 10px;
	text-decoration: none;
}

a.button .inner {
	background: url(../img/bg-btn-right.gif) no-repeat scroll 100% 0;
	font-size: 12px;
	color:#558DC6;
	font-size: 10px;
	font-weight: bold;

	height: 19px;
	padding: 3px 10px 6px 0;
}
/* @end */



/* @group tooltip */

/*contenedor*/
.cluetip-default{
    background-color:#2A3C6D;
}
.cluetip-default #cluetip-outer {
    background-color:#2A3C6D;
    font-size:11px;
    color:#FFFFFF;
}
.cluetip-default #cluetip-outer{
    padding: 10px;
}

/*titulo*/
.cluetip-default h3#cluetip-title {
    background-color:#2A3C6D;
    margin:0;
    padding:0;
    text-transform:none;
    font-weight:normal;
    font-size:11px;
    line-height:1.1;
}

/*cerrar*/
.cluetip-default div#cluetip-close {
    display:none;
}

/*contenido*/
.cluetip-default #cluetip-inner {
    margin:0;
    padding:0;
    text-transform:lowercase!important;
}
.cluetip-default #cluetip-inner .split-body {
    word-wrap:break-word;
}

/*flechas*/
#cluetip-arrows {

}


/* @end */




/* @group formularios */

.form-textarea {
	font-size: 11px!important;
	font-family: Arial!important;
	padding: 5px 0;
	color: #808080;
	border: 1px solid #999999;
	overflow: auto;
    width:99%;
	
	word-wrap: break-word;	
}

.form-textareaAlt {
	font-size: 11px!important;
	font-family: Arial!important;
	padding: 5px 0;
	color: #808080;
	border: 1px solid #999999;
	width:99%;
	
	word-wrap: break-word;	
}
/*Button: CSS Sliding Doors*/
span.button  {
	background: url(../img/btn-l.gif) no-repeat scroll 0 0;
	display:inline-block;
	white-space:nowrap;
	cursor:pointer;
	padding-left: 5px;
	/*margin-right: 10px;*/
	margin-left: 10px;
}

    span.button span.button  
    {
        background: none;
        margin: 0;
        padding: 0;
    }

.formSubmit,
.formSubmitAsync {
	background: url(../img/btn-r.gif) no-repeat scroll 100% 0;
	font-size: 12px;
	color:#FFFFFF;
	cursor:pointer;


	border:0;
	height: 18px;
	padding: 0 5px 3px 0;
	*padding-bottom: 0;/*IE6-7*/
	
	position: relative;
	white-space: nowrap;
	margin: 0;
	overflow: visible;
	white-space:normal;
	
}
/* @end */


/* @group tablas */

/* @group mensajes de usuario */
.mensaje {
	border: 1px solid;
	margin: 10px 0;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.mensaje ul{
	padding-left: 20px;
	list-style-type:disc;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url(../img/info.png);
}
.exito {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url(../img/exito.png);
}
.alerta {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url(../img/alerta.png);
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url(../img/error.gif);
}
/* @end */

/*control gridview*/
.GridView {
	width:100%;
	font-family: Arial;	
}
.GridView tr.HeaderStyle th{
	padding: 15px 0;
	color: #2B3C6E;
	font-weight: normal;
	border-top: 1px solid #999999;
	border-right: 1px solid #ffffff;
}
.GridView td {
	padding: 5px;
	border: 1px solid #999999;
    vertical-align:top;
}
.GridView td.columnEmphasis {
	width: 260px;
}
.GridView tr.resaltado td { /*'resaltado' generado con jQuery*/
	background-color: #fdffda;
}
.GridView td .titulo {
	font-weight: bold;
}
.GridView td .detalle {
	font-size: 11px;
}
.GridView td textarea {
	font-size: 11px;
	font-family: Arial;
	height: 80px;
	padding: 5px;
	color: #808080;
	border: 1px solid #999999;
	overflow: auto;
	
	word-wrap: break-word;	
}
.GridView td textarea.requerido{
	color:#808080;
	background-color:#F2F2F2;
}
.GridView td textarea.disabled {
	background-color: #C0C0C0;
}

.GridView td .status {/*'status' generado con jQuery*/
	display: inline;
	padding-left: 8px;
}
/* @end */




#page{
	width: 960px;
	margin: 0 auto;
}

/*------------------------------------------------------------------
[Cabecera]
*/
#header {
	position: relative;
	background-color:#558DC6;
	background-image: url(../img/bg-header.jpg);
	background-repeat: repeat-x;
	background-position: 0 0;
	margin-bottom: 15px;
}
#header-inner {
	padding: 25px 10px 0 10px;	
}

/* @group logo - titulo */
#logo-title {
	margin-bottom: 12px;
}

#site-name h1{
	color:#A6C5E1;
	font-size: 28px;
}
#site-name h1 span{
	font-size: 22px;
	display: block;
}
#logo, #FVC_logo{
	position: absolute;
	right: 10px;
	top: 25px;
}

/* @end */


/* @group datos de evaluacion */

/*fechas*/
#fechas {
	color: #FFFFFF;
	overflow: hidden;
	margin-bottom: 25px;
	zoom: 1; /*IE6*/
}
#fechas li{
	float: left;
	margin-right: 15px;
}

/*personas*/
#personas {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	margin-bottom: 15px;
	width :854px;
	float: left;
}
#personas-inner {
	padding: 10px;
	overflow: hidden;
}
#personas-inner .inner-decoration {/*'inner-decoration' generado con jQuery*/
	background-image:url(../img/separator.gif);
	background-repeat: repeat-y;
	background-position: 405px top;
	overflow: hidden;
	zoom: 1; /*IE6*/
}
#personas h2 {
	text-transform: uppercase;
	font-size: 17px;
	margin-bottom: 10px;
}
#personas ul {
	padding: 0 0 2px 0;
	overflow: hidden;
}
#personas ul li{
	float: left;
	width: 200px;
	margin-bottom: 2px;
}

#personas .evaluador,
#personas .evaluado {
	width: 410px;
}
#personas .evaluador {
	float: left;
	color:#2B3C6E;
}

#personas .evaluado {
	float: right;
}

/*foto*/
#foto {
	width: 70px;
	height: 70px;
	float: right;
	border: 2px solid #FFFFFF;
}
#foto img{
	width: 70px;
	height: 70px;
	_display: block; /* soluciona Image breaks up in IE6 only*/
}

/*calificacion*/
#calificacion {
	clear: both;
	background-color: #2B3C6E;
	margin-left:-10px;
	margin-right: -10px;
	padding:15px 10px;
    min-height:16px;
	*height: 17px; /*IE6-7*/
}
#calificacion h2{
	color: #FFFFFF;
	font-weight: normal;
	font-size: 16px;
}
#calificacion h2 span{
	font-weight: bold;
	text-transform: uppercase;
}
/* @end */


#main {
	margin-bottom: 30px;
}



.definicion-grado {
	color: #2B3C6E;
	font-size: 11px;
	margin-bottom: 15px;
}


.definicion-grado h4 {
font-weight:normal;
margin-bottom:2px;
text-decoration:underline;
}


.definicion-grado li {
margin-bottom:10px;
}


/* @group Modal Popup */
.modalBackground {
	background-color: #000;
	filter: alpha(opacity=75);
	opacity: 0.75;
}
.contentPopup { 
	background-image:url(../img/bg-content-tab.jpg);
	background-repeat: repeat-x;
    background-color: #FFFFFF; 
    position: absolute; 
    width: 600px; 
    /*width: 350px;/*IE7-6*/
    height: 300px; 
    z-index: 999;
    padding: 5px;
    text-align: center;
} 
.contentPopup ul{ 
	padding-left: 20px;
	list-style-type: disc;
	margin-bottom: 10px;
	text-align: left;
}
.contentPopup ul a{ 
	color: #558DC6;
}


.contentPopupHistorico { 
	background-image:url(../img/bg-content-tab.jpg);
	background-repeat: repeat-x;
    background-color: #FFFFFF; 
    position: absolute; 
    width: 600px; 
    /*width: 350px;/*IE7-6*/
    height: 150px; 
    z-index: 999;
    padding: 5px;
    text-align: center;
} 
.contentPopupHistorico ul{ 
	padding-left: 20px;
	list-style-type: disc;
	margin-bottom: 10px;
	text-align: left;
}
.contentPopupHistorico ul a{ 
	color: #558DC6;
}


.contentPopupEvaluador { 
	background-image:url(../img/bg-content-tab.jpg);
	background-repeat: repeat-x;
    background-color: #FFFFFF; 
    position: absolute; 
    width: 450px; 
    height: 200px; 
    z-index: 999;
    padding: 5px;
   text-align: center;
} 


.titleModalPopup {
	overflow: hidden;
	zoom: 1;/*IE6*/
	margin-bottom: 20px;
}
.titleModalPopup h2{
	float: left;
	color: #2B3C6E;
	font-size: 14px;
}
.titleModalPopup .closeModalPopup{
	float: right;
	cursor: pointer;
	font-weight: bold;
}

.contentModalPopup {
    overflow: auto;
	overflow-x:hidden;/*IE7-6*/    
    height: 250px; 
}


/* @end */

.loading {            
	background-image: url('../img/loading.gif');
	background-repeat: no-repeat;
}

.loadingAutoComplete
{
    background-image: url('../images/preloader.gif');
    background-position: right;
    background-repeat: no-repeat;
}
.OkMessage {
	width: 300px;
	height: 100px;
	background-color: #ffffff;
	padding: 15px;
	text-align: center;
}

.precarga {
	color: #aaa;
	font-weight: bold;
}

/*.ListSearchExtenderPrompt
{
    color: #666666 !important;
    font-size: 11px !important;
    overflow: visible !important;    
    text-overflow: visible !important;
    -ms-text-overflow: visible !important;
    -o-text-overflow:  visible !important;       
   width: 250px !important;
    word-wrap: normal !important;
    white-space: nowrap;
  
    
    }*/
    
.ListSearchExtenderPrompt{  
    /*text-overflow: visible !important;
    overflow: visible !important;
    width: 250px;
    white-space: nowrap;
    word-wrap: normal;*/
    border:1px solid transparent;
}
    




/*Ayuda*/
#tabs {
    position:relative;
}
#tabs .help{
    position:absolute;
    top:0;
    right:0;
    background: url(../img/help-browser_22x22.png) no-repeat 0 0;
    text-indent: -9999px;
    display:block;
    width:22px;
    height:22px;
}

/* @PMPFY */

/* POPUP Selecciona evaluador */

#CPH1_DropDownEvaluadores {
    display:block;
    margin:0 auto 10px;
}

.contentModalPopup #CPH1_lblEvaluadorAsignado + .button 
{
    display:block;
    margin:20px auto 0;
    width:40px;
}

/* Menu horizontal - Performance and plan review */

.ui-tabs a
{
    font-size: 95% !important;
}

#CPH1_WUCGuardadoPrevio_UpdatePanel1 
{
    margin: 10px 0;
}

.margin20-0 
{
    margin: 20px 0;
}

.margin10-0,
#CPH1_RepeaterPerformanceReviewSummary_DropDownListRating_0 
{
    margin: 10px 0;
}

.masInfo img 
{
    margin-left: 10px;
}

.status 
{
    float: left;
}

.separador
{
    padding: 10px 0;
    border-bottom:1px solid #558DC6;
}



    .separador.sinFoot
    {
        border: none;
    }

.separador h4 
{
    margin: 10px 0;
}

    .separador table td
    {
        padding: 10px 0;
    }
    
    .separador textarea.form-textarea 
    {
        margin:10px 0;
        padding:5px;
        /*min-width:685px;*/
        width: 98.2%;
    }
    
    .separador textarea.form-textareaAlt 
    {
        margin:10px 0;
        padding:5px;
		/*min-width:685px;*/
        width: 98.2%;
    }    
    
    .separador .formText,
    .separador .formSelect 
    {
        /*width: 90%;*/
    }

.horizontal-list 
{
    margin: 20px 0;
    border: 1px solid #558DC6;
    overflow: hidden;
}
    .horizontal-list li
    {
        display: block;
        float: left;
        text-align: center;
        padding: 10px 0;
    }

        .horizontal-list li 
        {
            width: 20%;
        }
        
        .horizontal-list .border-left 
        {
            background: url('../img/borderPixel.gif') top left repeat-y;
        }
   
#IndividualObjetive > table 
{
    margin: 15px 0 55px;
}

#IndividualObjetive td {
    padding: 10px 0;
}
    #IndividualObjetive td:first-child
    {
        width: 250px;
    }
    
.review-info td
{
    width: 65%;
    padding: 10px;
    border: 1px solid #558DC6;
}

    .review-info td:first-child 
    {
        background: #EBF2F8;
        width: 35%;
    }
    
.separateTR tr 
{
    border-top: 1px solid #558DC6;
}

    .separateTR tr:first-child
    {
        border-top: none;
    }

        .separateTR tr:first-child .block:first-child 
        {
            padding-top: 0;
        }
    
.separateTR .block 
{
    display: block;
    padding: 30px 10px 20px;
}

    .separateTR .block:first-child
    {
        padding: 20px 10px 0;
    }
    
.izq_der_form 
{
    overflow: hidden;
    margin-top: 10px;
}

.izq_der_form .izq,
.izq_der_form .der
{
    float: left;
    width: 45%;
}

.izq_der_form .izq
{
    margin-right: 10%;
}

    .izq_der_form.tiene_medio .izq,
    .izq_der_form.tiene_medio .der 
    {
        width: 45%;
        margin: 0;
    }

.izq_der_form .med
{
    float: left;
    width: 9%;
    text-align: center;
}

    .izq_der_form .med .button
    {
        margin:0 auto 10px;
        width: 30px;
        display: block;
        padding-left: 0;
    }
    
        .izq_der_form .med .button input 
        {
            text-align: left;
            margin-left: 2px;
        }
    
#SectionB_LastPerformanceRating 
{
    margin-top: 15px;
}

#DataListEducation
{
    width: 100%;
}

#DataListEducation .formSelect,
#DataListEducation .formText
{
    width: 90%;
}

#DataListExperience 
{
    width: 100%;
}

    #DataListExperience td:first-child 
    {
        width: 20%;
    }
    
    #DataListExperience .exp_block
    {
        border-top: 1px solid #558DC6;
    }
    
        #DataListExperience tr:first-child .exp_block
        {
            border-top: none;
        }
        
        #DataListExperience .periodo 
        {
            width: 160px;
        }
    
#RepeaterDEVELOPMENTACTIONS h4 
{
    border-bottom:1px solid #558DC6;
    margin:5px 0;
    padding:15px 0;
}

    #RepeaterDEVELOPMENTACTIONS td 
    {
        padding: 5px 0 0;
    }
    
#CareerPlan td:first-child
{
    width: 280px;
}

#CPH1_RepeaterSuccessFactors_DropDownListOptional_5 
{
    bottom:35px;
    left:300px;
    position:absolute;
    width:170px;
}

#CPH1_RepeaterPotencialReplacements1_TextBoxComentario_0,
#CPH1_RepeaterPotencialReplacements2_TextBoxComentario_0,
#CPH1_RepeaterPotencialReplacements3_TextBoxComentario_0
{
    float: left;
}
/*
#CPH1_DataListEducation_TextBoxYear_0,
#CPH1_DataListEducation_TextBoxYear_1,
#CPH1_DataListEducation_TextBoxYear_2
{
    width: 30%;
}

#CPH1_DataListEducation_TextBoxSchool_0,
#CPH1_DataListEducation_TextBoxSchool_1,
#CPH1_DataListEducation_TextBoxSchool_2
{
    width: 90%;
}
*/
.educa_year 
{
    width: 10%;
}

    #CPH1_DataListEducation_TextBoxYear_0,
    #CPH1_DataListEducation_TextBoxYear_1,
    #CPH1_DataListEducation_TextBoxYear_2
    {
        width: 60% !important;
    }

.educa_school
{
    width: 50%;
}

#CPH1_upPnlPage
{
    float: left;
}

#CPH1_upPnlPage + div 
{
    float: left !important;
    /*margin-left: -15px;*/
}

    #CPH1_upPnlPage + div .button 
	{
    }

#acciones .button 
{
    float: left;
    display: block;
}

#RepeaterFeedback {
	td:first-child {
		width: 20% !important;
	}
}

#t5 a {
	width: 220px !important;
	text-align: center;
}