/*contenedor*/
.ui-tabs {
 	padding: 0;
	border-top: 0;
	font-size: 12px;
	margin-bottom: 15px;
}
.ui-widget-content {
	color:#558DC6;
}


/*navegacion*/
.ui-tabs-nav {
	border-top:0;
	border-right:0;
	border-left:0; 	
	background-color: #fff;
	background-image: none;
	margin-left: -1px;
	margin-right: -1px;
}
.ui-tabs .ui-tabs-nav {
	padding: 0;
}
.ui-tabs .ui-tabs-nav li {
	margin-right: 1px;
}
.ui-tabs .ui-tabs-nav li a {
	padding: 10px 8px;
	color: #558DC6;
	font-family: Arial;
	text-transform: uppercase;
}

/*tab validado*/
/*DFF2BF letra 4F8A10*/


/*tab por defecto*/
.ui-widget-content .ui-state-default{ 
	border: 0;
	background:transparent url(../img/menu_tab_l.png) no-repeat scroll 0 0;
}
.ui-widget-content .ui-state-default a{
	background:transparent url(../img/menu_tab_r.png) no-repeat scroll 100% 0;
}

/*tab seleccionado*/
.ui-tabs-nav .ui-tabs-selected,
.ui-widget-content .ui-state-active { 
	border: 0;
	background:transparent url(menu_tab_l_active.gif) no-repeat scroll 0 0 !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected  a,
.ui-widget-content .ui-state-active a{
	color: #FFF !important;
	background:transparent url(menu_tab_r_active.gif) no-repeat scroll 100% 0 !important;
}


.ui-tabs-nav .oKgreen {
    background:transparent url(menu_tab_l_green.gif) no-repeat scroll 0 0;
}

.ui-tabs-nav .oKgreen a{
	background:transparent url(menu_tab_r_green.gif) no-repeat scroll 100% 0!important;
    color:#4F8A10 !important;
}
.oKgreenBody{

}






/*panel*/
.ui-tabs .ui-tabs-panel {
	padding: 5px;
}
.ui-tabs .ui-tabs-panel-inner {
	padding: 25px 10px 10px 10px;
	background-image: url(../img/bg-content-tab.jpg);
	background-repeat: repeat-x;
}


/* Diferencia Selected */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a
{
    text-decoration: underline;
    color: #000;
}

