
.titulos_helvetica {
	font-family: Arial;
	font-size: 16pt;
	font-weight: bold;
}
.subtitulos_helvetica12negrita {
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
}
.subtitulos_helvetica12 {
	font-family: Helvetica;
	font-size: 12pt;
}







.texto10times {
	font-family: Arial;
	font-size: 10pt;
}
.texto10timesitalica {
	font-family: Arial;
	font-size: 10pt;
	font-style: italic;
}



.bordesuperior1 {
	        border-top-width: 1pt;
	        border-right-width: 0pt;
	        border-bottom-width: 0pt;
	        border-left-width: 0pt;
	        border-top-style: solid;
	        border-right-style: none;
	        border-bottom-style: none;
	        border-left-style: none;
	        border-top-color: #000000;
	        border-right-color: #000000;
	        border-bottom-color: #000000;
	        border-left-color: #000000;
	        font-family: Arial;
	        font-size: 10px;
        }


.bordeinferior1_times8 {
	font-family: Arial;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1pt;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	font-size: 8pt;
	
}

.times8 {
	font-family: Arial;
	font-size: 8pt;
	
}




.subtitulos_helvetica14 {
	font-family: Arial;
	font-size: 14pt;
	font-weight: bold;
	color: #FFFFFF;
}
.texto11times {
	font-family: Arial;
	font-size: 11pt;
}
.Perspectivas {
	font-family: Arial;
	font-size: 10pt;
}
.texto11timesitalica {
	font-family: Arial;
	font-size: 11pt;
	font-style: italic;
}