.titulos {
	font-family: Arial;
	font-size: 12.5pt;
	font-style: italic;
	font-weight: bold;
}

.titulosCabeceras {
	font-family: Arial;
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
}
   
 .subtitulos_14_bordeinferior_3 {
	        font-family: Arial;
	        font-size: 14pt;
	        font-weight: bold;
	        border-top-width: 0px;
	        border-right-width: 0px;
	        border-bottom-width: 3px;
	        border-left-width: 0px;
	        border-top-style: none;
	        border-right-style: none;
	        border-bottom-style: solid;
	        border-left-style: none;
	        border-top-color: #000000;
	        border-right-color: #000000;
	        border-bottom-color: #000000;
	        border-left-color: #000000;
        }
.subtitulos_14 {
	font-family: Arial;
	font-size: 14pt;
	font-weight: bold;
}
.letras_blancas_chicas {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
}
.letras_negras_chicas {
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}
.subtitulos_12 {
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
}
.texto12 {
	font-family: Arial;
	font-size: 12pt;
}
.texto10 {
	font-family: Arial;
	font-size: 9pt;
	font-weight:normal;
}
.texto10negrita {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.texto12italica {
	font-family: Arial;
	font-size: 12pt;
	font-style: italic;
}
.texto11 {
	font-family: Arial;
	font-size: 11pt;
}
.titulo_date {
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.letras_grises {
	font-family: Arial;
	font-size: 10pt;
	color: #808080;
}
 .borde_inferior3 {
	        border-top-width: 0px;
	        border-right-width: 0px;
	        border-bottom-width: 3px;
	        border-left-width: 0px;
	        border-top-style: none;
	        border-right-style: none;
	        border-bottom-style: solid;
	        border-left-style: none;
	        border-bottom-color: #000000;
	        
        }
.saco_borde_superior {
	border-top-width: 0px;
}
.bordeinferior1_x {
	        border:none;
			border-bottom:solid windowtext 1.0pt;
            mso-border-bottom-alt:solid windowtext .75pt;
  
        }
.x {
	        font-family: Arial;
	        font-size: 9pt;
	        font-weight: bold;
        }
.borde_superior3 
{
            border-top-width : 3px;
	        border-top-style: solid;
	        border-top-color: #000000;
	        
	        border-right-style: solid;
	        border-bottom-style: solid;
	        border-left-style: solid;
	        border-top-color: #000000;
	        border-right-color: #000000;
	        border-bottom-color: #000000;
	        border-left-color: #000000;
	        border-right-width: 1px;
	        border-bottom-width: 1px;
	        border-left-width: 1px;
	        font-family: Arial;
	        font-size: 12pt;
	        font-weight: bold;
	       
        }
 .bordeinferior3 {
	        font-family: Arial;
	        font-size: 12pt;
	        font-weight: bold;
	        border-top-width: 1px;
	        border-right-width: 1px;
	        border-bottom-width: 3px;
	        border-left-width: 1px;
	        border-top-style: solid;
	        border-right-style: solid;
	        border-bottom-style: solid;
	        border-left-style: solid;
	        border-top-color: #000000;
	        border-right-color: #000000;
	        border-bottom-color: #000000;
	        border-left-color: #000000;
        }

.bordecompleto{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.borderojo {
	border: 3pt solid #FF0000;
}
.texto12negrita_enblanco {
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
}
.texto10italica {
	font-family: Arial;
	font-size: 10pt;
	font-style: italic;
}

.BORDEiz-ar {
	border-top-width: 1pt;
	border-right-width: 0pt;
	border-bottom-width: 0pt;
	border-left-width: 1pt;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.BORDEiz-ar-de-ab {



	border-top-width: 1pt;
	border-right-width: 1pt;
	border-bottom-width: 1pt;
	border-left-width: 1pt;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.BORDEiz-ar-de {



	border-top-width: 1pt;
	border-right-width: 1pt;
	border-bottom-width: 0pt;
	border-left-width: 1pt;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.BORDEiz-ar-ab {




	border-top-width: 1pt;
	border-right-width: 0pt;
	border-bottom-width: 1pt;
	border-left-width: 1pt;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.BORDEiz-de {




	border-top-width: 0pt;
	border-right-width: 1pt;
	border-bottom-width: 0pt;
	border-left-width: 1pt;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.BORDEiz {
    border-left:1px solid #000000;
}

.BORDEde {
	border-right-width: 1pt;
	border-right-style: solid;		
	border-right-color: #000000;	
}
.BORDEar {
	border-top-width: 1pt;
	border-top-style: solid;		
	border-top-color: #000000;		
}

.BORDEde_ar {
	border-top-width: 1pt;
	border-top-style: solid;		
	border-top-color: #000000;		
	border-right-width: 1pt;
	border-right-style: solid;		
	border-right-color: #000000;
}
.BORDEde_ab {
	border-bottom-width: 1pt;
	border-bottom-style: solid;		
	border-bottom-color: #000000;		
	border-right-width: 1pt;
	border-right-style: solid;		
	border-right-color: #000000;
}
.BORDEiz_ab {
	border-bottom-width: 1pt;
	border-bottom-style: solid;		
	border-bottom-color: #000000;		
	border-left-width: 1pt;
	border-left-style: solid;		
	border-left-color: #000000;
}

.BORDEab {
	border-bottom-width: 1pt;
	border-bottom-style: solid;		
	border-bottom-color: #000000;		

}
.BORDEiz-de-ab {
	border-right-width: 1pt;
	border-bottom-width: 1pt;
	border-left-width: 1pt;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}


.BORDEiz-arGris {
	border-top-width: 1pt;
	border-right-width: 0pt;
	border-bottom-width: 0pt;
	border-left-width: 0;
	border-top-style: solid;
	border-bottom-style: none;
	border-top-color: #C0C0C0;
	border-bottom-color: #000000;
}   
        
 .BORDEiz-ar-de-abGris {
	        border-top-width: 1pt;
	        border-right-width: 1pt;
	        border-bottom-width: 1pt;
	        border-left-width: 1pt;
	        border-top-style: solid;
	        border-right-style: solid;
	        border-bottom-style: none;
	        border-left-style: solid;
	        border-top-color: #C0C0C0;
	        border-right-color: #000000;
	        border-bottom-color: #C0C0C0;
	        border-left-color: #000000;
        }
        
.BORDEiz-ar-deGris {
	        border-top-width: 1pt;
	        border-right-width: 0;
	        border-bottom-width: 0pt;
	        border-left-width: 0;
	        border-top-style: solid;
	        border-bottom-style: none;
	        border-top-color: #C0C0C0;
	        border-bottom-color: #C0C0C0;
        }    









/*------------------------------------------------------------------
[Estilos generales]
*/
body {
    font-family:Arial;
    font-size:10pt;
}

h3 {
    margin:5px 0;
}

.bloque {
    
}
.bloque .pnet-subtitle {
    font-size:14pt;
    font-weight:bold;
}
.pnet-table {
    border-collapse: collapse;
}
.bloque .pnet-table td {
    border: 1px solid #000;
    font-size:10pt;
    padding:0.2em;
}

.bloque .pnet-table td td {
    border:0;
    font-size:10pt;
    padding:0;
}

.border-top {
    border-top:4px solid #000;
}
.border-bottom {
    border-bottom:4px solid #000;
}


.bloque h2 {
    color:#F5F5F5;
    font-size:12pt;
    padding:5px;
    clear:both;
    position:relative;
    margin-top:0;
}
.header2 td {
    color:#FFF;
    font-size:12pt;
    font-weight:bold;
    padding-left:5px;
    background-color:#000;
}
.bloque h2 .bg{
    position:absolute;
    top:0;
    left:0;
    border-top:32px solid #000;
    width:100%;
    z-index:-1;
}

/*------------------------------------------------------------------
[Cabecera]
*/
#FVC {
    margin-bottom: 20px;   
}
#FVC .seccion1 p.titulosCabeceras{
    font-size:14pt;
    margin:5px 0;
    line-height:1;
}
#FVC .seccion2{
    font-size:12pt;
    font-weight:bold;
}
#FVC .seccion2 .letras_grises {
    font-size:10pt;
    font-weight:normal;
}
#FVC .wrapperDate {
    border-top:2px solid #000;
    border-left:2px solid #000;
    border-right:2px solid #000;
    padding-left:5px;
    padding-right:5px;
    padding-top:10px;
}
#FVC .date .label {
    font-size: 10pt;
    font-weight:bold;
}
#FVC .date .value {
    font-size:12pt;
    font-weight:bold;
    font-style:italic;
}


/*------------------------------------------------------------------
[Performance Plan & Review]
*/
#PLeaderImperatives .pnet-table td strong{
    font-size:12pt;
    font-weight:bold;
}

/*------------------------------------------------------------------
[Current Strengths/Development Needs]
*/
#PSDNeed{

}


/*------------------------------------------------------------------
[Performance Review - Summary]
*/




/*------------------------------------------------------------------
[PanelCareerPlan]
*/
.header2Print {
    display:none;
}
@media print {}


/*------------------------------------------------------------------
[Executive Management Succession & Development Plan]
*/
#PExecutiveManagementDevelopmentPlan .wrapper {
    border:1px solid #000000;
}












/*registro*/
.registro {
    text-align:right;
    font-family:Arial;
    font-size:10pt;
    margin-top:25px;
}