.SaltoDePagina{
page-break-after: always;
}

.Simbol10 {
	font-family: Symbol;
	font-size: 10pt;
}
.Arial12NegritaWhite {
	font-family: Arial;
	font-size: 12pt;
	color: #FFFFFF;
	font-weight: bold;
}



.Arial9 {
	font-family: Arial;
	font-size: 9pt;
}


.Arial9BlueSubrayado {
}
.ArialBlack9Red {
	font-family: "Arial Black";
	font-size: 9pt;
	color: #FF0000;
}
.Wingdings {
	font-family: Wingdings;
	font-size: 9pt;
}





.Arial95NegritaBlue {
	font-family: Arial;
	font-size: 9.5pt;
	color: #0000FF;
	font-weight: bold;
}


.Arial10NegritaMayuscula {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-transform: uppercase;
}



.Arial8Italica {
	font-family: Arial;
	font-size: 8pt;
	font-style: italic;
}



.Arial85Negrita {
	font-family: Arial;
	font-size: 8.5pt;
	font-weight: bold;
}

.Calibri85Negrita {
	font-family: Calibri;
	font-size: 8.5pt;
	font-weight: bold;
}
.Arial8ItalicaBlue {
	font-family: Arial;
	font-size: 8pt;
	font-style: italic;
	color: #0000FF;
	text-decoration: underline;
}
.Arial8NegritaMayuscula {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	text-transform: uppercase;
}


.Arial9Negrita {
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}
.Arial8 {
	font-family: Arial;
	font-size: 8pt;
}

.Arial10Blue {
	font-family: Arial;
	font-size: 10pt;
	color: #0000FF;
	font-style: normal;
}
.Arial10Red {
	font-family: Arial;
	font-size: 10pt;
	color: #FF0000;
}
.ArialBlack9Blue {
	font-family: "Arial Black";
	font-size: 9pt;
	color: #0000FF;
}
.Arial9BlueSubrayado {
	font-family: Arial;
	font-size: 9pt;
	color: #0000FF;
	text-decoration: underline;
}
.Arial10ItalicaWhite {
	font-family: Arial;
	font-size: 10pt;
	color: #FFFFFF;
	font-style: italic;
}
.ArialBlack12 {
	font-family: "Arial Black";
	font-size: 12pt;
}


.Arial95NegritaRed {
	font-family: Arial;
	font-size: 9.5pt;
	color: #FF0000;
	font-weight: bold;
}

.Arial9Negrita {
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
}

.ArialBlack10 {
     font-family: "Arial Black";
	 font-size: 10pt;
     } 
     
     .Arial9Italica {
	font-family: Arial;
	font-size: 9pt;
	font-style: italic;
}

.Arial95Negrita {

	font-family: Arial;
	font-size: 9.5pt;
	font-weight: bold;
}

.Calibri8 {
	font-family:  Arial;
	font-size: 8pt;
}
.Calibri9 {
	font-family: Arial;
	font-size: 9pt;
}

.Calibri10 {
	font-family: Arial;
	font-size: 10pt;
}
.Calibri9Negrita {
	font-family: Arial;
	font-size: 9pt;
	font-weight:bold;
}

.Calibri95NegritaBlue {
	font-family: Arial;
	font-size: 9.5pt;
	color: #0000FF;
	font-weight: bold;
}

.CalibriNegrita10 {
     font-family: Arial;
	 font-size: 10pt;
	 font-weight: bold;
     } 

.Calibri8Italica {
	font-family: Arial;
	font-size: 8pt;
	font-style: italic;
}

.Calibri85 {
	font-family: Arial;
	font-size: 8.5pt;
	
}

.Calibri8NegritaMayuscula {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	text-transform: uppercase;
}

.Calibri8Negrita {
	font-family:  Arial;
	font-size: 8pt;
	font-weight: bold;
	/*text-transform: uppercase;*/
}

.Calibri95NegritaRed {
	font-family: Arial;
	font-size: 10pt;
	color: #FF0000;
	font-weight: bold;
}

     
.CalibriBlack10 {
     font-family: Arial;
	 font-size: 10pt;
	 font-weight: bold;
     } 
          


.Calibri9Italica {
	font-family: Arial;
	font-size: 9pt;
	font-style: italic;
}


.CalibriBlack12 {
	font-family: Arial Black;
	font-size: 10pt;
	letter-spacing:-1;
	margin-left: 5px;
}

.CalibriBlack10A {
	font-family: Arial Black;
	font-size: 10pt;
	letter-spacing:-1;
}

.CalibriNegrita12 {
	font-family: Arial;
	font-weight: bold;
	font-size: 12pt;
}
.CalibriBlack10 {
	font-family:  Arial Black;
	font-size: 10pt;
	
}  
          