﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Search.ascx.cs" Inherits="com.paginar.johnson.Web.DynamicData.Filters.Search" %>
<asp:Panel ID="Panel1" DefaultButton="ButtonSearch" runat="server">

<div class="form-item leftHalf">
 <asp:TextBox runat="server" CssClass="DDFilter" ID="TextBox1" />  
 </div>
 <div class="controls">
<asp:Button ID="ButtonSearch" Text="Buscar" runat="server" onclick="Button1_Click" />
</div>

</asp:Panel>