﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/TwoSidebars.master" AutoEventWireup="true" CodeBehind="ingresosegresos.aspx.cs" Inherits="com.paginar.johnson.Web.novedades.ingresosegresos" %>
<%@ Register src="../noticias/ucCategoriaNoticia.ascx" tagname="ucCategoriaNoticia" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
<h2>Ingresos/Egresos</h2>

   <uc1:ucCategoriaNoticia ID="ucCategoriaNoticia1" Categoriaid="38" runat="server" displayHeader="false" />

</asp:Content>
