﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/TwoSidebars.master" AutoEventWireup="true" CodeBehind="promocionescambios.aspx.cs" Inherits="com.paginar.johnson.Web.novedades.promocionescambios" %>
<%@ Register src="../noticias/ucCategoriaNoticia.ascx" tagname="ucCategoriaNoticia" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
<h2>Promociones / Cambios</h2>

   <uc1:ucCategoriaNoticia ID="ucCategoriaNoticia1" Categoriaid="44" runat="server" displayHeader="false" />

</asp:Content>
