﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/TwoSidebars.master" CodeBehind="Default.aspx.cs" Inherits="com.paginar.johnson.Web._Default" %>


<%@ Register src="UserControl_Home/ucNoticias.ascx" tagname="ucNoticias" tagprefix="uc1" %>
<%@ Register src="UserControl_Home/ucBanner.ascx" tagname="ucBanner" tagprefix="uc2" %>


<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
    <div id="home"></div>
<%--<div> 
<span class="messages msg-info" id="mensajito">
Les informamos que el viernes 8 de julio, a las 15.30 de Argentina y Uruguay y a las 14.30 de Chile y Paraguay, personal de Soporte de Servidores de Racine estará realizando tareas de mantenimiento en los servidores. Por lo tanto, durante aproximadamente 2 horas, la Intranet estará fuera de servicio.
<br /> 
Les pedimos disculpas por las molestias ocasionadas.
</span>
</div> --%>
        <uc2:ucBanner ID="ucBanner1" runat="server" />

    <!--<div id="noticias">
        <h2>Noticias</h2>-->
        <uc1:ucNoticias ID="ucNot" runat="server" />
    <!--</div>-->
    <asp:Literal Text="" ID="ltjs" runat="server" />
</asp:Content>






