﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PruebaForms.aspx.cs" Inherits="com.paginar.johnson.Web.PruebaForms" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:HyperLink ID="HyperLink1" runat="server" 
            NavigateUrl="~/SessionTransfer.aspx?dir=2asp&url=http://3721-johnson-intranet.desa2.paginar.org/scjconosur/loginautomatico.asp?from=S
">HyperLink</asp:HyperLink>
    
    </div>
    </form>
</body>
</html>
