﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="sendMail.aspx.cs" Inherits="com.paginar.johnson.Web.sendMail" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
          <asp:Label runat="server"  ID="lbltmsg"  Width="600px" Font-Bold="True"/>
        <br />
    </div>
    </form>
</body>
</html>
