<!--RESULTADOS DE BUSQUEDA-->
<div class="box resultados">
	<div class="bloque">
		<h4></h4>
		<div class="container">
			<div class="header"></div>
			<div class="content"></div>
			<div class="footer"></div>
		</div>
		<div class="container">
			<div class="header"></div>
			<div class="content">
                <div class="pic"></div>
                <div class="info"></div>
            </div>
			<div class="footer"></div>
		</div>
	</div>
</div>

<!--FORMULARIO-->
<div class="box formulario">
	<div class="form-item">
		<label></label>
		<input type="text" />
	</div>
	<div class="controls">
		<input type="submit" />
	</div>
</div>

<!--COMENTARIOS-->
<div class="box comentarios">

    <div class="lista-comentarios">
	    <div class="comentario">
		    <div class="pic"></div>
		    <div class="content"></div>
	    </div>
	    <div class="comentario">
		    <div class="pic"></div>
		    <div class="content"></div>
	    </div>	
    </div>


    <div class="usuario-comentar">
        <div class="pic">
        </div>
        <div class="content">
        </div>
    </div>

</div>


<!--user card-->
<div class="userCard">
    <div class="foto"></div>
    <div class="info"></div>
</div>



                                    <div class="userCard">
                                        <asp:HiddenField ID="hdUsuario" runat="server" Value='<%# Bind("usuarioid") %>' />
                                        <asp:FormView ID="frmUsuario" runat="server" DataSourceID="odsUsuario">
                                            <ItemTemplate>
                                                <div class="foto">
                                                    <img src='<%# "../images/personas/"+ Eval("usuariofoto")%>' />
                                                </div>
                                                <div class="info">
                                                    <ul>
                                                        <li>
                                                            <%# Eval("nombre")%>
                                                            <%# Eval("apellido")%></li>
                                                        <li>
                                                            <%# Eval("areadesc")%>
                                                        </li>
                                                        <li>
                                                            <%# Eval("cargodet")%>
                                                        </li>
                                                        <li>int:
                                                            <%# Eval("interno")%>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </ItemTemplate>
                                        </asp:FormView>
                                        <asp:ObjectDataSource ID="odsUsuario" runat="server" OldValuesParameterFormatString="original_{0}"
                                            SelectMethod="getDataUsuario" TypeName="com.paginar.johnson.BL.ControllerUCHome">
                                            <SelectParameters>
                                                <asp:ControlParameter ControlID="hdUsuario" Name="usuarioid" PropertyName="Value"
                                                    Type="Int32" />
                                            </SelectParameters>
                                        </asp:ObjectDataSource>
                                    </div>