﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="HistoricoPMP.aspx.cs" Inherits="com.paginar.johnson.Web.PMP.HistoricoPMP" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>

<body>
    <form id="form1" runat="server">
    <div>
        <asp:HiddenField ID="HiddenFieldlegajo" runat="server" />
        <asp:HiddenField ID="HiddenFieldPeriodoID" runat="server" />
        <asp:HiddenField ID="HiddenFieldTipoFormularioID" runat="server" />
        <asp:HiddenField ID="HiddenFieldLegajoEvaluador" runat="server" />
        
        <asp:Repeater ID="RepeaterPMPMY" runat="server">
        </asp:Repeater>
        <asp:ObjectDataSource ID="ObjectDataSource1" runat="server"></asp:ObjectDataSource>

    </div>
    </form>
</body>
</html>
